.lng1771-sort-manager__empty {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.lng1771-sort-manager {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.lng1771-sort-manager__sort-list-container {
  flex: 1;
  overflow: auto;
}

.lng1771-sort-manager__sort-list {
  display: grid;
  grid-template-columns: 2fr 210px 1fr 48px;
  column-gap: 10px;
  padding-block: 12px;
  padding-inline-start: 16px;
  padding-inline-end: 12px;
  box-sizing: border-box;
}

.lng1771-sort-manager__sort-labels {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: -1 / 1;
  padding-block: 6px;

  font-weight: 500;
  color: var(--lng1771-gray-60);
  font-size: 12px;
}

.lng1771-sort-manager__sort-labels--order {
  grid-column: span 2;
}

.lng1771-sort-manager__sort-item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: -1 / 1;
  padding-bottom: 12px;
  align-items: center;
}

.lng1771-sort-manager__sort-item-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.lng1771-sort-manager__sort-item-controls--delete,
.lng1771-sort-manager__sort-item-controls--add {
  font-family: var(--lng1771-typeface);
  color: var(--lng1771-gray-70);
  padding: 0px;
  margin: 0px;
  border: 1px solid transparent;
  height: 28px;
  width: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: transparent;
}

.lng1771-sort-manager__sort-item-controls--add {
  font-size: 20px;
  position: relative;
}

.lng1771-sort-manager__sort-controls {
  padding-block: 16px;
  grid-column: -1 / 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
