@import "tailwindcss";
@source "./";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
}

@plugin "@iconify/tailwind4" {
  prefix: "ico";
  prefixes: ph, svg-spinners, logos;
}

@import "./theme/colors.css";
@import "./theme/utilities.css";

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased; /* 1. MacOS / iOS specific: Enables subpixel antialiasing */
  -moz-osx-font-smoothing: grayscale; /* 2. Firefox specific: Thins out the font slightly for better readability */
  text-rendering: optimizeLegibility; /* 3. Standard property (improves kerning and ligatures) */
  text-size-adjust: 100%; /* 4. Optional: Fixes potential layout shifts when fonts load */
}

@theme {
  --spacing-header: 52px;
  --spacing-subheader: 40px;
  --spacing-sidenav: 290px;
  --spacing-toc: 275px;

  --color-ln-gray-00: var(--lng1771-gray-00);
  --color-ln-gray-02: var(--lng1771-gray-02);
  --color-ln-gray-05: var(--lng1771-gray-05);
  --color-ln-gray-10: var(--lng1771-gray-10);
  --color-ln-gray-20: var(--lng1771-gray-20);
  --color-ln-gray-30: var(--lng1771-gray-30);
  --color-ln-gray-40: var(--lng1771-gray-40);
  --color-ln-gray-50: var(--lng1771-gray-50);
  --color-ln-gray-60: var(--lng1771-gray-60);
  --color-ln-gray-70: var(--lng1771-gray-70);
  --color-ln-gray-80: var(--lng1771-gray-80);
  --color-ln-gray-90: var(--lng1771-gray-90);
  --color-ln-gray-100: var(--lng1771-gray-100);

  --color-ln-primary-05: var(--lng1771-primary-05);
  --color-ln-primary-10: var(--lng1771-primary-10);
  --color-ln-primary-30: var(--lng1771-primary-30);
  --color-ln-primary-50: var(--lng1771-primary-50);
  --color-ln-primary-70: var(--lng1771-primary-70);
  --color-ln-primary-90: var(--lng1771-primary-90);
  --color-ln-focus-outline: var(--lng1771-focus-outline);

  --color-ln-pill-plain-fill: var(--lng1771-pill-plain-fill);
  --color-ln-pill-column-fill: var(--lng1771-pill-column-fill);
  --color-ln-pill-column-stroke: var(--lng1771-pill-column-stroke);
  --color-ln-pill-pivot-fill: var(--lng1771-pill-pivot-fill);
  --color-ln-pill-pivot-stroke: var(--lng1771-pill-pivot-stroke);
  --color-ln-pill-group-fill: var(--lng1771-pill-group-fill);
  --color-ln-pill-group-stroke: var(--lng1771-pill-group-stroke);
  --color-ln-pill-icon-color: var(--lng1771-pill-icon-color);
}

.no-transition * {
  transition-duration: 0s !important;
  animation-duration: 0s !important;
}

.codeframe-tabs pre {
  border: 0px !important;
}
.codeframe-tabs .copy {
  display: none !important;
}

.codeframe-tabs .expressive-code,
.package-tabs .expressive-code {
  margin: 0px;
}

.ln-callout .expressive-code {
  @apply my-4;
}

.expressive-code {
  @apply my-8;
}
