---
import type { CSSProperties } from "react";

interface Props {
  readonly placement?:
    | "left"
    | "left-start"
    | "left-end"
    | "right"
    | "right-start"
    | "right-end"
    | "top"
    | "top-start"
    | "top-end"
    | "bottom"
    | "bottom-start"
    | "bottom-end";
}
const props = Astro.props;
---

<lion-tooltip placement={props.placement} class="group">
  <div slot="invoker">
    <slot />
  </div>
  <div
    slot="content"
    class="tooltip bg-gray-100 transition-all px-2 py-2 rounded-xl border border-gray-200 text-sm text-gray-700"
  >
    <slot name="tip" />
  </div>
</lion-tooltip>

<script>
  import "@lion/ui/define/lion-tooltip.js";
</script>

<style>
  lion-tooltip {
    .tooltip {
      opacity: 0;
    }
  }
  lion-tooltip[opened] {
    .tooltip {
      opacity: 1;
    }
  }
</style>
