:root {
  --transfer: #7badff;
  --dns: #126cff;
  --connection: #053f9e;
  --ttfb: #7c8193;
  --tls: #c0c7d1;
}

.dark {
  --transfer: #2be4ce;
  --dns: #03b6a1;
  --connection: #008c7b;
  --ttfb: #6a6c73;
  --tls: #bfc3c9;
}

.demo {
  [data-ln-header-cell] {
    padding: 0px;

    &:focus {
      outline: none;
    }

    & > div:hover .sort-button {
      background-color: var(--ln-bg-strong);
    }
  }
}
