<div class="shell-frame">
  <div id="frame-area" class="shell-frame__area"></div>
</div>

<style>
  .shell-frame {
    padding: 8px;

    display: flex;
    justify-content: center;

    overflow: auto;
    box-sizing: border-box;

    .shell-frame__area {
      border: 1px solid var(--border);
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      border-radius: 4px;
    }
  }
</style>
