<button id="frame-sidebar-collapse" class="icon-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-panel-left-icon lucide-panel-left"
    ><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M9 3v18"></path></svg
  >
</button>
<button id="frame-drawer-collapse" class="icon-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-panel-bottom-icon lucide-panel-bottom"
    ><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M3 15h18"></path></svg
  >
</button>
<button id="frame-controls-collapse" class="icon-button">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="20"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-panel-right-icon lucide-panel-right"
    ><rect width="18" height="18" x="3" y="3" rx="2"></rect><path d="M15 3v18"></path></svg
  >
</button>

<style>
  .icon-button {
    border: 0px solid transparent;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script>
  const sidebar = document.getElementById("frame-sidebar-collapse");
  const controls = document.getElementById("frame-controls-collapse");
  const drawer = document.getElementById("frame-drawer-collapse");

  controls?.addEventListener("click", () => {
    const frame = document.getElementById("frame-controls");
    if (!frame) return;

    if (frame.getAttribute("data-collapsed")) {
      frame.removeAttribute("data-collapsed");
    } else {
      frame.setAttribute("data-collapsed", "true");
    }
  });

  sidebar?.addEventListener("click", () => {
    const frame = document.getElementById("frame-sidebar");
    if (!frame) return;

    if (frame.getAttribute("data-collapsed")) {
      frame.removeAttribute("data-collapsed");
    } else {
      frame.setAttribute("data-collapsed", "true");
    }
  });

  drawer?.addEventListener("click", () => {
    const frame = document.getElementById("frame-drawer");
    if (!frame) return;

    if (frame.getAttribute("data-collapsed")) {
      frame.removeAttribute("data-collapsed");
    } else {
      frame.setAttribute("data-collapsed", "true");
    }
  });
</script>
