<div id="frame-sidebar" data-width="300" class="shell-sidebar"></div>

<style>
  .shell-sidebar {
    box-sizing: border-box;
    padding-inline-end: 4px;
    position: relative;
    width: attr(data-width px);
    min-width: 200px;
    max-width: 600px;
    border-inline-end: 1px solid var(--border);
  }

  .shell-sidebar[data-collapsed] {
    overflow: hidden;
    border-inline-end: 0px;
    min-width: 0px;
    max-width: 0px;
    width: 0px;
  }
</style>
