@layer base, ln-grid, components,  utilities;

@import "tailwindcss";
@import "@1771technologies/lytenyte-doc/theme.css";

@import "./ln-tailwind.css";

[data-ln-viewport="true"] {
  border: 0px solid transparent;
}
