.lng1771-loading-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lng1771-loading-label {
  padding: var(--lng1771-space-30) var(--lng1771-space-50);
  background-color: var(--lng1771-backgrounds-ui-panel);
  border: 1px solid var(--lng1771-borders-context-menu);
  border-radius: var(--lng1771-box-radius-medium);
}
