.lng1771-load-error-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.lng1771-load-error-overlay-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--lng1771-space-20);
  padding: var(--lng1771-space-30) var(--lng1771-space-50);
  background-color: var(--lng1771-backgrounds-ui-panel);
  border: 1px solid var(--lng1771-borders-context-menu);
  border-radius: var(--lng1771-box-radius-medium);
}
