:root {
  --ln-space-02: 2px;
  --ln-space-05: 4px;
  --ln-space-10: 6px;
  --ln-space-20: 8px;
  --ln-space-25: 10px;
  --ln-space-30: 12px;
  --ln-space-40: 16px;
  --ln-space-50: 20px;
  --ln-space-60: 24px;
  --ln-space-70: 32px;
  --ln-space-80: 48px;
  --ln-space-90: 64px;
  --ln-space-100: 128px;

  --ln-padding-field-sm: 4px;
  --ln-padding-field-md: 6px;
  --ln-padding-field-lg: 8px;
  --ln-padding-field-xl: 12px;
  --ln-padding-vertical-thead: 4px;
  --ln-padding-vertical-cell: 8px;
  --ln-padding-horizontal-cell: 10px;

  --ln-radius: 6px;
  --ln-radius-md: 8px;
  --ln-radius-lg: 12px;
  --ln-radius-field-lg: 10px;
  --ln-radius-field-md: 8px;
  --ln-radius-field-sm: 6px;

  --ln-shadow-100: 0 1px 2.5px 0 rgba(30, 30, 41, 0.13), 0 0 0 1px rgba(30, 30, 41, 0.02);
  --ln-shadow-200:
    0 1px 1px 0 rgba(30, 30, 41, 0.06), 0 1px 0 1px rgba(51, 51, 51, 0.05) inset,
    0 2px 3px 0.625px rgba(30, 30, 41, 0.1);
  --ln-shadow-300: 0 11px 10px -6px rgba(30, 30, 41, 0.06), 0 1px 7px 0 rgba(30, 30, 41, 0.12);
  --ln-shadow-400: 0 14px 18px -6px rgba(30, 30, 41, 0.07), 0 3px 13px 0 rgba(30, 30, 41, 0.1);
  --ln-shadow-500: 0 3px 20px 0 rgba(30, 30, 41, 0.1), 0 19px 24.75px -9px rgba(30, 30, 41, 0.11);
  --ln-shadow-600: 0 6px 36px 0 rgba(30, 30, 41, 0.12), 0 37px 35.75px -20px rgba(30, 30, 41, 0.07);
  --ln-shadow-700: 0 16px 22px -10px rgba(30, 30, 41, 0.06), 0 22px 64px 0 rgba(30, 30, 41, 0.16);

  --ln-typeface:
    "Inter", system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Apple Color Emoji",
    "Segoe UI Emoji";

  --ln-transition-fn: cubic-bezier(0.4, 0, 0.2, 1);
  --ln-transition-duration: 100ms;
}

.ln-term {
  --ln-typeface:
    "Noto Sans Mono", ui-monospace, "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono",
    "DejaVu Sans Mono", "Courier New", monospace;
}
