<h2
  {...Astro.props}
  class:list={[
    "[&+*]:[code]:text-xl [&+.steps]:mt-0! [&+.steps>h3]:mt-4! [&+h3]:mt-4! [&+p]:mt-4! text-ln-foreground mt-10 scroll-m-28 text-2xl font-medium tracking-tight first:mt-0",
  ]}
>
  <slot />
</h2>
