.lng1771-button {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 28px;
  border: 0px solid transparent;
  cursor: pointer;
  padding-inline: 12px;
  font-family: var(--lng1771-typeface);
  border-radius: var(--lng1771-button-radius);
  color: var(--lng1771-button-fg);
  background-color: var(--lng1771-button-bg);
  box-shadow:
    0px 1.5px 2px 0px rgba(18, 46, 88, 0.08),
    0px 0px 0px 1px var(--lng1771-button-border);
}
.lng1771-button:focus-visible {
  outline: 1px solid var(--lng1771-grid-focus-outline);
}
.lng1771-button:hover {
  background-color: var(--lng1771-button-bg-hover);
}

.lng1771-button__icon {
  justify-content: center;
  width: 28px;
  height: 28px;
  padding: 0px;
}
