.lng1771-cell {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
  box-sizing: border-box;

  border-bottom: 1px solid var(--lng1771-gray-20);
  border-right: 1px solid transparent;

  color: var(--lng1771-gray-80);
  font-size: 14px;
  font-weight: 400;
  font-family: var(--lng1771-typeface);

  user-select: none;
  overflow: hidden;

  background-color: var(--lng1771-gray-00);
}

[data-lng1771-type="number"] {
  text-align: end;
}

.lng1771-cell--alternate {
  background-color: var(--lng1771-gray-02);
}

.lng1771-cell--selected {
  background-color: var(--lng1771-row-selected);
}

.lng1771-cell--last-start {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0px;
    inset-inline-end: 0px;
    width: 1px;
    height: 100%;
    background-color: var(--lng1771-gray-50);
  }
}

.lng1771-cell--first-end {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0px;
    inset-inline-start: 0px;
    width: 1px;
    height: 100%;
    background-color: var(--lng1771-gray-50);
  }
}

@keyframes lng1771-shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
