.lng1771-radio {
  display: flex;
  align-items: center;
  justify-content: center;
  block-size: 18px;
  inline-size: 18px;
  position: relative;
  border-radius: 9999px;
  box-sizing: border-box;
  background-color: var(--lng1771-gray-02);
  border: 1px solid var(--lng1771-gray-30);
  cursor: pointer;

  &:focus-within {
    outline: 1px solid var(--lng1771-focus-outline);
  }

  input {
    all: unset;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

.lng1771-radio--hover:hover {
  box-shadow:
    var(--lng1771-gray-20) 0px 0px 2px 2px,
    var(--lng1771-gray-20) 0px 0px 2px 2px;
}

.lng1771-radio--disabled {
  background-color: var(--lng1771-gray-30);
}

.lng1771-radio--checked {
  background-color: var(--lng1771-primary-50);

  &::after {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: var(--lng1771-gray-00);
    border-radius: 9999px;
  }
}

.lng1771-radio--checked-disabled::after {
  background-color: var(--lng1771-gray-50);
}
