.lng1771-cell-selection {
  pointer-events: none;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: var(--lng1771-primary-30);
  border: 1px solid var(--lng1771-primary-30);
  box-sizing: border-box;
}

.lng1771-cell-selection--deselect {
  background-color: rgba(255, 0, 0, 0.2);
  border: 1px solid red;
}
.lng1771-cell-selection--pivot {
  background-color: transparent;
}

@keyframes lng1771-flash-animation {
  0% {
    background-color: var(--lng1771-primary-30);
  }
  100% {
    background-color: var(--lng1771-primary-05);
  }
}

.lng1771-cell-selection--flash {
  animation: lng1771-flash-animation;
  animation-duration: 0.2s;
}
