.lng1771-header {
  display: grid;
  block-size: fit-content;
  box-sizing: border-box;
  grid-template-columns: 0px;
  user-select: none;
  background-color: var(--lng1771-gray-00);
  position: relative;
  border-bottom: 1px solid var(--lng1771-gray-20);
}

.lng1771-header-container {
  position: sticky;
  z-index: 20;
  top: 0;
  inset-inline-start: 0px;
  min-width: 100%;
}
