.headerCell {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  background-color: light-dark(cyan, rgb(2, 2, 52));
  color: light-dark(black, white);
  text-transform: capitalize;
  font-size: 14px;
}

.cell {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  background-color: light-dark(white, black);
  color: gray;
  font-size: 14px;
  border-bottom: 1px solid light-dark(rgb(197, 196, 196), rgb(56, 32, 32));
}
