.lng1771-column-manager__tree {
  padding-block-start: 8px;
  box-sizing: border-box;
  overflow-x: hidden;

  &:focus-visible {
    outline: 1px solid var(--lng1771-focus-outline);
    outline-offset: -1px;
  }
}

.lng1771-column-manager__tree-item-wrapper:focus-visible {
  outline: none;

  & > div {
    background-color: var(--lng1771-gray-10);
    border-radius: 8px;

    position: relative;
    &::before {
      content: "";
      position: absolute;
      inset-inline-start: 0px;
      width: 2px;
      height: 100%;
      background-color: var(--lng1771-focus-outline);
    }
  }
}

.lng1771-column-manager__tree-item-wrapper:hover {
  & > div {
    background-color: var(--lng1771-gray-05);
    border-radius: 8px;
  }
}

.lng1771-column-manager__tree-item-wrapper {
  padding-inline: 6px;
  user-select: none;
  cursor: pointer;
}

.lng1771-column-manager__tree-item {
  display: flex;
  align-items: center;
  gap: 1px;
  height: 100%;
  padding-inline-end: 12px;
  font-size: 14px;
  color: var(--lng1771-gray-80);
  font-family: var(--lng1771-typeface);
  position: relative;
  overflow: hidden;
}

.lng1771-column-manager__tree-item-drop-indicator-top {
  height: 1px;
  width: 100%;
  box-sizing: border-box;

  background-color: var(--lng1771-primary-50);
  position: absolute;
  top: 0px;
}
.lng1771-column-manager__tree-item-drop-indicator-bottom {
  height: 1px;
  width: 100%;
  box-sizing: border-box;

  background-color: var(--lng1771-primary-50);
  position: absolute;
  bottom: 0px;
}

.lng1771-column-manager__tree-item-expander {
  background-color: transparent;
  border: none;
  color: var(--lng1771-gray-80);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: var(--lng1771-gray-05);
  }
}

.lng1771-column-manager__drag-placeholder {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.lng1771-column-manager__drag-placeholder--default {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--lng1771-gray-05);
  border: 1px solid var(--lng1771-primary-30);
  border-radius: 6px;
  padding-inline: 8px;
  padding-block: 8px;
}

.lng1771-column-manager__drag-box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.lng1771-column-manager__drag-box-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

.lng1771-column-manager__drag-box-label {
  flex: 1;
  color: var(--lng1771-gray-80);
  font-family: var(--lng1771-typeface);
}

.lng1771-column-manager__drag-box-expander {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 100ms ease-in;

  &:hover {
    background-color: var(--lng1771-gray-20);
  }
}

.lng1771-column-manager__drop-zone {
  display: flex;
  flex-direction: column;
  min-height: 120px;
  min-width: 260px;
  border-radius: 6px;
  border: 1px solid var(--lng1771-gray-30);
  background-color: var(--lng1771-gray-05);
}

.lng1771-column-manager__drop-indicator-end {
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--lng1771-primary-50);
}
.lng1771-column-manager__drop-indicator-start {
  position: absolute;
  top: 0px;
  inset-inline-start: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--lng1771-primary-50);
}
