.ln-cotton-candy {
  --ln-gray-00: hsla(0, 0%, 100%, 1);
  --ln-gray-01: hsla(0, 0%, 100%, 1);
  --ln-gray-02: hsla(210, 25%, 98%, 1);
  --ln-gray-05: hsla(210, 29%, 97%, 1);
  --ln-gray-10: hsla(216, 24%, 96%, 1);
  --ln-gray-20: hsla(210, 22%, 93%, 1);
  --ln-gray-30: hsla(218, 22%, 88%, 1);
  --ln-gray-40: hsla(221, 17%, 80%, 1);
  --ln-gray-50: hsla(221, 10%, 62%, 1);
  --ln-gray-60: hsla(222, 8%, 51%, 1);
  --ln-gray-70: hsla(226, 10%, 40%, 1);
  --ln-gray-80: hsla(231, 12%, 20%, 1);
  --ln-gray-90: hsla(240, 15%, 14%, 1);
  --ln-gray-100: hsla(240, 18%, 10%, 1);

  --ln-primary-05: hsla(303, 86%, 56%, 0.03);
  --ln-primary-10: hsla(303, 86%, 56%, 0.07);
  --ln-primary-30: hsla(303, 86%, 56%, 0.25);
  --ln-primary-50: hsla(303, 87%, 57%, 1);
  --ln-primary-70: hsla(303, 86%, 56%, 1);
  --ln-primary-90: hsla(303, 100%, 38%, 1);

  --ln-red-10: hsla(356, 100%, 95%, 1);
  --ln-red-30: hsla(352, 100%, 82%, 1);
  --ln-red-50: hsla(345, 100%, 56%, 1);
  --ln-red-70: hsla(344, 100%, 39%, 1);
  --ln-red-90: hsla(342, 95%, 15%, 1);

  --ln-yellow-10: hsla(55, 97%, 88%, 1);
  --ln-yellow-30: hsla(51, 100%, 56%, 1);
  --ln-yellow-50: hsla(44, 100%, 47%, 1);
  --ln-yellow-70: hsla(34, 100%, 33%, 1);
  --ln-yellow-90: hsla(27, 89%, 14%, 1);

  --ln-green-10: hsla(142, 85%, 92%, 1);
  --ln-green-30: hsla(143, 81%, 71%, 1);
  --ln-green-50: hsla(144, 100%, 39%, 1);
  --ln-green-70: hsla(144, 100%, 25%, 1);
  --ln-green-90: hsla(145, 88%, 10%, 1);

  --ln-info-10: hsla(0, 0%, 89%, 1);
  --ln-info-30: hsla(0, 0%, 64%, 1);
  --ln-info-50: hsla(0, 0%, 25%, 1);
  --ln-info-70: hsla(0, 0%, 15%, 1);
  --ln-info-90: hsla(0, 0%, 9%, 1);

  --ln-border: hsla(232, 85%, 68%, 1);
  --ln-border-row: hsla(232, 85%, 78%, 1);
  --ln-border-strong: hsla(232, 85%, 68%, 1);
  --ln-border-icon: hsla(245, 48%, 28%, 1);
  --ln-border-ui-panel: hsla(232, 85%, 68%, 1);
  --ln-border-button-light: hsla(0, 0%, 89%, 1);
  --ln-border-field-and-button: hsla(0, 0%, 100%, 0);
  --ln-border-field-and-button-shadow: hsla(0, 0%, 46%, 0);
  --ln-border-floating-panel: hsla(232, 85%, 68%, 1);
  --ln-border-popover: var(--ln-border);

  --ln-bg: hsla(0, 0%, 96%, 1);
  --ln-bg-button-light: white;
  --ln-bg-page: hsla(0, 0%, 100%, 1);
  --ln-bg-light: hsla(0, 0%, 96%, 1);
  --ln-bg-strong: hsla(0, 0%, 89%, 1);
  --ln-bg-row-hover: hsla(303, 87%, 57%, 0.1);
  --ln-bg-row-alternate: hsla(187, 72%, 82%, 1);
  --ln-bg-ui-panel: white;
  --ln-bg-form-field: hsla(269, 88%, 53%, 0.21);
  --ln-bg-floating-panel: hsla(295, 100%, 96%, 1);
  --ln-bg-popover: white;

  --ln-text: hsla(245, 48%, 28%, 1);
  --ln-text-dark: hsla(245, 48%, 28%, 1);
  --ln-text-light: hsla(245, 40%, 58%, 1);
  --ln-text-xlight: hsla(245, 40%, 58%, 1);
  --ln-text-hyperlink: hsla(257, 100%, 66%, 1);
  --ln-text-primary-button: hsla(245, 48%, 28%, 1);

  --ln-row-pivot-fill: hsla(131, 100%, 80%, 1);
  --ln-row-pivot-stroke: hsla(133, 78%, 61%, 1);
  --ln-column-pivot-fill: hsla(331, 100%, 89%, 1);
  --ln-column-pivot-stroke: hsla(354, 75%, 76%, 1);
  --ln-column-fill: hsla(242, 100%, 88%, 1);
  --ln-column-stroke: hsla(254, 100%, 65%, 1);
}
