.ln-term {
  --ln-gray-00: hsla(0, 0%, 0%, 1);
  --ln-gray-01: hsla(0, 0%, 0%, 1);
  --ln-gray-02: hsla(0, 0%, 6%, 1);
  --ln-gray-05: hsla(0, 0%, 7%, 1);
  --ln-gray-10: hsla(0, 0%, 11%, 1);
  --ln-gray-20: hsla(0, 0%, 15%, 1);
  --ln-gray-30: hsla(0, 0%, 19%, 1);
  --ln-gray-40: hsla(0, 0%, 23%, 1);
  --ln-gray-50: hsla(0, 0%, 31%, 1);
  --ln-gray-60: hsla(0, 0%, 38%, 1);
  --ln-gray-70: hsla(0, 0%, 54%, 1);
  --ln-gray-80: hsla(0, 0%, 66%, 1);
  --ln-gray-90: hsla(0, 0%, 85%, 1);
  --ln-gray-100: hsla(0, 0%, 93%, 1);

  --ln-primary-05: hsla(180, 100%, 67%, 0.07);
  --ln-primary-10: hsla(180, 100%, 67%, 0.07);
  --ln-primary-30: hsla(180, 100%, 67%, 0.3);
  --ln-primary-50: hsla(180, 100%, 67%, 1);
  --ln-primary-70: hsla(181, 54%, 33%, 1);
  --ln-primary-90: hsla(181, 54%, 33%, 1);

  --ln-red-10: hsla(352, 83%, 49%, 0.16);
  --ln-red-30: hsla(352, 83%, 49%, 0.5);
  --ln-red-50: hsla(352, 83%, 49%, 1);
  --ln-red-70: hsla(352, 83%, 49%, 1);
  --ln-red-90: hsla(0, 100%, 33%, 1);

  --ln-yellow-10: hsla(53, 100%, 49%, 0.12);
  --ln-yellow-30: hsla(53, 100%, 49%, 0.4);
  --ln-yellow-50: hsla(53, 100%, 49%, 1);
  --ln-yellow-70: hsla(42, 100%, 49%, 1);
  --ln-yellow-90: hsla(47, 100%, 34%, 1);

  --ln-green-10: hsla(146, 65%, 56%, 0.12);
  --ln-green-30: hsla(146, 65%, 56%, 0.4);
  --ln-green-50: hsla(146, 65%, 56%, 1);
  --ln-green-70: hsla(139, 53%, 45%, 1);
  --ln-green-90: hsla(154, 54%, 34%, 1);

  --ln-info-10: var(--ln-gray-10);
  --ln-info-30: var(--ln-gray-30);
  --ln-info-50: var(--ln-gray-60);
  --ln-info-70: var(--ln-gray-70);
  --ln-info-90: var(--ln-gray-80);

  --ln-border: var(--ln-gray-20);
  --ln-border-row: var(--ln-gray-10);
  --ln-border-strong: var(--ln-gray-30);
  --ln-border-icon: var(--ln-gray-70);
  --ln-border-ui-panel: var(--ln-gray-10);
  --ln-border-button-light: var(--ln-gray-30);
  --ln-border-field-and-button: var(--ln-gray-30);
  --ln-border-field-and-button-shadow: hsla(0, 0%, 0%, 0);
  --ln-border-floating-panel: var(--ln-border-strong);
  --ln-border-popover: var(--ln-gray-30);

  --ln-bg: var(--ln-gray-10);
  --ln-bg-button-light: var(--ln-gray-20);
  --ln-bg-page: hsla(0, 0%, 4%, 1);
  --ln-bg-light: var(--ln-gray-05);
  --ln-bg-strong: var(--ln-gray-20);
  --ln-bg-row-hover: var(--ln-primary-05);
  --ln-bg-row-alternate: var(--ln-gray-02);
  --ln-bg-ui-panel: var(--ln-gray-05);
  --ln-bg-form-field: var(--ln-gray-05);
  --ln-bg-floating-panel: var(--ln-bg);
  --ln-bg-popover: var(--ln-bg-strong);

  --ln-text: var(--ln-gray-80);
  --ln-text-dark: var(--ln-gray-90);
  --ln-text-light: var(--ln-gray-70);
  --ln-text-xlight: var(--ln-gray-60);
  --ln-text-hyperlink: var(--ln-primary-50);
  --ln-text-primary-button: var(--ln-gray-00);

  --ln-row-pivot-fill: hsla(160, 100%, 43%, 0.14);
  --ln-row-pivot-stroke: hsla(158, 100%, 55%, 0.35);
  --ln-column-pivot-fill: hsla(259, 100%, 61%, 0.18);
  --ln-column-pivot-stroke: hsla(259, 100%, 66%, 0.6);
  --ln-column-fill: hsla(180, 100%, 35%, 0.15);
  --ln-column-stroke: hsla(180, 100%, 35%, 0.36);
}

@font-face {
  font-family: "Noto Sans Mono";
  src: url("../fonts/notosans-mono.woff2") format("woff2-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
