.data-styles {
  [data-ln-cell="true"] {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    background-color: light-dark(white, black);
    color: gray;
  }

  [data-ln-header-cell="true"] {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    background-color: light-dark(cyan, navy);
    color: light-dark(black, white);
  }
}
