---
import DesktopToc from "./toc/desktop-toc.astro";
import ThemeToggle from "./theme-toggle.astro";
import ThemeScript from "./theme-script.astro";

import type { MarkdownHeading } from "astro";
export interface Props {
  readonly toc: MarkdownHeading[];
}

const { toc } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <ThemeScript />
  </head>
  <body class="bg-gray-50 text-gray-950 min-h-screen flex flex-col">
    <div class="sticky top-0 z-10">
      <header class="h-header border-b border-gray-200 bg-gray-50">
        <ThemeToggle />
      </header>
      <aside class="h-subheader border-b border-gray-200 bg-gray-50"></aside>
    </div>
    <div class="flex-1 grid grid-row-[1fr]">
      <div class="w-full h-full">
        <div
          class="h-full w-full lg:max-w-[1000px] xl:max-w-7xl [@media(min-width:1380px)]:max-w-[1360px] mx-auto"
        >
          <div
            class="grid grid-cols-1 lg:grid-cols-[calc(100%-var(--spacing-toc))_var(--spacing-toc)] xl:grid-cols-[var(--spacing-sidenav)_calc(100%-var(--spacing-sidenav)-var(--spacing-toc))_var(--spacing-toc)]"
          >
            <div
              class:list={[
                "overflow-auto contain-strict no-scrollbar",
                "w-sidenav min-w-sidenav max-w-sidenav py-8 sticky top-[calc(var(--spacing-header)+var(--spacing-subheader))]",
                "h-[calc(100vh-var(--spacing-header)-var(--spacing-subheader))]",
                "hidden xl:block",
              ]}
            >
              Side Nav
            </div>

            <div class="flex flex-col">
              <div class="w-full max-w-full flex-1">
                <div class="prose px-4 py-8 max-w-4xl mx-auto">
                  <main class="mx-auto">
                    <slot />
                  </main>
                </div>
              </div>
              <footer class="h-[200px]">Lee</footer>
            </div>

            {
              toc.length > 0 && (
                <div
                  class:list={[
                    "w-toc min-w-toc max-w-toc sticky top-[calc(var(--spacing-header)+var(--spacing-subheader))] h-0 py-8 pl-2",
                    "hidden lg:block",
                  ]}
                >
                  <DesktopToc toc={toc} />
                </div>
              )
            }
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
