@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@iconify/tailwind4" {
  prefix: "ico";
  prefixes: ph, svg-spinners;
}

@plugin "./src/plugins/transitions.js";

@theme {
  --font-sans:
    "Inter Variable", Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-inter:
    "Inter Variable", Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-gray-950: var(--gray-950);
  --color-gray-900: var(--gray-900);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);

  --color-primary-950: var(--primary-950);
  --color-primary-900: var(--primary-900);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-600: var(--primary-600);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);

  --color-secondary-950: var(--secondary-950);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-50: var(--secondary-50);

  --color-tertiary-950: var(--tertiary-950);
  --color-tertiary-900: var(--tertiary-900);
  --color-tertiary-800: var(--tertiary-800);
  --color-tertiary-700: var(--tertiary-700);
  --color-tertiary-600: var(--tertiary-600);
  --color-tertiary-500: var(--tertiary-500);
  --color-tertiary-400: var(--tertiary-400);
  --color-tertiary-300: var(--tertiary-300);
  --color-tertiary-200: var(--tertiary-200);
  --color-tertiary-100: var(--tertiary-100);
  --color-tertiary-50: var(--tertiary-50);
}

/* prettier-ignore */
:root {
  --base: oklch(0.145 0 0);
  --primary: #2CB7DD;
  --secondary: oklch(from var(--primary) l c calc(h - 120));
  --tertiary: oklch(from var(--primary) l c calc(h + 120));

  --danger: red;
  --success: green;
  --warning: amber;
  --info: blue;

  --gray-50:  oklch(from var(--base) calc(l + 0.999) c h);
  --gray-100: oklch(from var(--base) calc(l + 0.940) c h);
  --gray-200: oklch(from var(--base) calc(l + 0.840) c h);
  --gray-300: oklch(from var(--base) calc(l + 0.740) c h);
  --gray-400: oklch(from var(--base) calc(l + 0.640) c h);
  --gray-500: oklch(from var(--base) calc(l + 0.520) c h);
  --gray-600: oklch(from var(--base) calc(l + 0.400) c h);
  --gray-700: oklch(from var(--base) calc(l + 0.300) c h);
  --gray-800: oklch(from var(--base) calc(l + 0.200) c h);
  --gray-900: oklch(from var(--base) calc(l + 0.120) c h);
  --gray-950: oklch(from var(--base) calc(l + 0.000) c h);

  --primary-50:  oklch(from var(--primary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.12), 0.4) h);
  --primary-100: oklch(from var(--primary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --primary-200: oklch(from var(--primary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.08), 0.4) h);
  --primary-300: oklch(from var(--primary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --primary-400: oklch(from var(--primary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.03), 0.4) h);
  --primary-500: oklch(from var(--primary) l c h); /* no change */
  --primary-600: oklch(from var(--primary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.4) h);
  --primary-700: oklch(from var(--primary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --primary-800: oklch(from var(--primary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --primary-900: oklch(from var(--primary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.4) h);
  --primary-950: oklch(from var(--primary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.4) h);

  --secondary-50:  oklch(from var(--secondary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.12), 0.4) h);
  --secondary-100: oklch(from var(--secondary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --secondary-200: oklch(from var(--secondary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.08), 0.4) h);
  --secondary-300: oklch(from var(--secondary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --secondary-400: oklch(from var(--secondary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.03), 0.4) h);
  --secondary-500: oklch(from var(--secondary) l c h); /* no change */
  --secondary-600: oklch(from var(--secondary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.4) h);
  --secondary-700: oklch(from var(--secondary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --secondary-800: oklch(from var(--secondary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --secondary-900: oklch(from var(--secondary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.4) h);
  --secondary-950: oklch(from var(--secondary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.4) h);

  --tertiary-50:  oklch(from var(--tertiary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.12), 0.4) h);
  --tertiary-100: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --tertiary-200: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.08), 0.4) h);
  --tertiary-300: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --tertiary-400: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.03), 0.4) h);
  --tertiary-500: oklch(from var(--tertiary) l c h); /* no change */
  --tertiary-600: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.4) h);
  --tertiary-700: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --tertiary-800: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --tertiary-900: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.4) h);
  --tertiary-950: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.4) h);
}

/* prettier-ignore */
.dark {
  --base: oklch(0.99 0 0);


  --gray-50:  oklch(from var(--base) calc(l - 0.950) c h);
  --gray-100: oklch(from var(--base) calc(l - 0.820) c h);
  --gray-200: oklch(from var(--base) calc(l - 0.700) c h);
  --gray-300: oklch(from var(--base) calc(l - 0.550) c h);
  --gray-400: oklch(from var(--base) calc(l - 0.450) c h);
  --gray-500: oklch(from var(--base) calc(l - 0.380) c h);
  --gray-600: oklch(from var(--base) calc(l - 0.300) c h);
  --gray-700: oklch(from var(--base) calc(l - 0.226) c h);
  --gray-800: oklch(from var(--base) calc(l - 0.124) c h);
  --gray-900: oklch(from var(--base) calc(l - 0.060)  c h);
  --gray-950: oklch(from var(--base) l c h);

  --primary-50:  oklch(from var(--primary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.40) h);
  --primary-100: oklch(from var(--primary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.40) h);
  --primary-200: oklch(from var(--primary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --primary-300: oklch(from var(--primary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.40) h);
  --primary-400: oklch(from var(--primary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.40) h);
  --primary-500: oklch(from var(--primary) l c h); /* no change */
  --primary-600: oklch(from var(--primary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c + 0.40), 0.40) h);
  --primary-700: oklch(from var(--primary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c + 0.30), 0.40) h);
  --primary-800: oklch(from var(--primary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c + 0.20), 0.40) h);
  --primary-900: oklch(from var(--primary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --primary-950: oklch(from var(--primary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.08), 0.40) h);

  --secondary-50:  oklch(from var(--secondary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --secondary-100: oklch(from var(--secondary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.40) h);
  --secondary-200: oklch(from var(--secondary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --secondary-300: oklch(from var(--secondary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.40) h);
  --secondary-400: oklch(from var(--secondary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.40) h);
  --secondary-500: oklch(from var(--secondary) l c h); /* no change */
  --secondary-600: oklch(from var(--secondary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.03), 0.40) h);
  --secondary-700: oklch(from var(--secondary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.05), 0.40) h);
  --secondary-800: oklch(from var(--secondary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.08), 0.40) h);
  --secondary-900: oklch(from var(--secondary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --secondary-950: oklch(from var(--secondary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.11), 0.40) h);

  --tertiary-50:  oklch(from var(--tertiary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.30) h);
  --tertiary-100: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.40) h);
  --tertiary-200: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --tertiary-300: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.40) h);
  --tertiary-400: oklch(from var(--tertiary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.40) h);
  --tertiary-500: oklch(from var(--tertiary) l c h); /* no change */
  --tertiary-600: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.03), 0.40) h);
  --tertiary-700: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.05), 0.40) h);
  --tertiary-800: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.08), 0.40) h);
  --tertiary-900: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --tertiary-950: oklch(from var(--tertiary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.11), 0.40) h);
}
