@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@iconify/tailwind4" {
  prefix: "ico";
  prefixes: ph, svg-spinners;
}

@plugin "./src/plugins/transitions.js";

@theme {
  --font-sans:
    "Inter Variable", Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --font-inter:
    "Inter Variable", Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";

  --color-gray-950: var(--gray-950);
  --color-gray-900: var(--gray-900);
  --color-gray-800: var(--gray-800);
  --color-gray-700: var(--gray-700);
  --color-gray-600: var(--gray-600);
  --color-gray-500: var(--gray-500);
  --color-gray-400: var(--gray-400);
  --color-gray-300: var(--gray-300);
  --color-gray-200: var(--gray-200);
  --color-gray-100: var(--gray-100);
  --color-gray-50: var(--gray-50);

  --color-primary-950: var(--primary-950);
  --color-primary-900: var(--primary-900);
  --color-primary-800: var(--primary-800);
  --color-primary-700: var(--primary-700);
  --color-primary-600: var(--primary-600);
  --color-primary-500: var(--primary-500);
  --color-primary-400: var(--primary-400);
  --color-primary-300: var(--primary-300);
  --color-primary-200: var(--primary-200);
  --color-primary-100: var(--primary-100);
  --color-primary-50: var(--primary-50);
}

/* prettier-ignore */
:root {
  --base: oklch(0.145 0 0);

  --primary: blue;
  --secondary: oklch(from var(--primary) l c calc(h - 120));
  --tertiary: oklch(from var(--primary) l c calc(h + 120));

  --danger: red;
  --success: green;
  --warning: amber;
  --info: blue;

  --gray-50:  oklch(from var(--base) calc(l + 0.840) c h);
  --gray-100: oklch(from var(--base) calc(l + 0.825) c h);
  --gray-200: oklch(from var(--base) calc(l + 0.777) c h);
  --gray-300: oklch(from var(--base) calc(l + 0.675) c h);
  --gray-400: oklch(from var(--base) calc(l + 0.563) c h);
  --gray-500: oklch(from var(--base) calc(l + 0.411) c h);
  --gray-600: oklch(from var(--base) calc(l + 0.294) c h);
  --gray-700: oklch(from var(--base) calc(l + 0.226) c h);
  --gray-800: oklch(from var(--base) calc(l + 0.124) c h);
  --gray-900: oklch(from var(--base) calc(l + 0.060) c h);
  --gray-950: oklch(from var(--base) calc(l + 0.000) c h);

  --primary-50:  oklch(from var(--primary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.22), 0.4) h);
  --primary-100: oklch(from var(--primary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.18), 0.4) h);
  --primary-200: oklch(from var(--primary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.14), 0.4) h);
  --primary-300: oklch(from var(--primary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --primary-400: oklch(from var(--primary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --primary-500: oklch(from var(--primary) l c h); /* no change */
  --primary-600: oklch(from var(--primary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.4) h);
  --primary-700: oklch(from var(--primary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.4) h);
  --primary-800: oklch(from var(--primary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.4) h);
  --primary-900: oklch(from var(--primary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.4) h);
  --primary-950: oklch(from var(--primary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.4) h);
}

/* prettier-ignore */
.dark {
  --base: oklch(0.99 0 0);

  --gray-50:  oklch(from var(--base) calc(l - 0.860) c h);
  --gray-100: oklch(from var(--base) calc(l - 0.815) c h);
  --gray-200: oklch(from var(--base) calc(l - 0.777) c h);
  --gray-300: oklch(from var(--base) calc(l - 0.625) c h);
  --gray-400: oklch(from var(--base) calc(l - 0.563) c h);
  --gray-500: oklch(from var(--base) calc(l - 0.411) c h);
  --gray-600: oklch(from var(--base) calc(l - 0.294) c h);
  --gray-700: oklch(from var(--base) calc(l - 0.226) c h);
  --gray-800: oklch(from var(--base) calc(l - 0.124) c h);
  --gray-900: oklch(from var(--base) calc(l - 0.06)  c h);
  --gray-950: oklch(from var(--base) l c h);

  --primary-50:  oklch(from var(--primary) clamp(0.02, calc(l - 0.52), 0.98) clamp(0, calc(c - 0.18), 0.40) h);
  --primary-100: oklch(from var(--primary) clamp(0.02, calc(l - 0.46), 0.98) clamp(0, calc(c - 0.14), 0.40) h);
  --primary-200: oklch(from var(--primary) clamp(0.02, calc(l - 0.38), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --primary-300: oklch(from var(--primary) clamp(0.02, calc(l - 0.26), 0.98) clamp(0, calc(c - 0.06), 0.40) h);
  --primary-400: oklch(from var(--primary) clamp(0.02, calc(l - 0.14), 0.98) clamp(0, calc(c - 0.02), 0.40) h);
  --primary-500: oklch(from var(--primary) l c h); /* no change */
  --primary-600: oklch(from var(--primary) clamp(0.02, calc(l + 0.16), 0.98) clamp(0, calc(c - 0.06), 0.40) h);
  --primary-700: oklch(from var(--primary) clamp(0.02, calc(l + 0.26), 0.98) clamp(0, calc(c - 0.10), 0.40) h);
  --primary-800: oklch(from var(--primary) clamp(0.02, calc(l + 0.34), 0.98) clamp(0, calc(c - 0.14), 0.40) h);
  --primary-900: oklch(from var(--primary) clamp(0.02, calc(l + 0.42), 0.98) clamp(0, calc(c - 0.18), 0.40) h);
  --primary-950: oklch(from var(--primary) clamp(0.02, calc(l + 0.50), 0.98) clamp(0, calc(c - 0.22), 0.40) h);
}
