.lng1771-menu {
  margin: 0;
  padding: 4px; /* Make a variable */
  list-style: none;
  box-sizing: border-box;
  width: max-content;
  z-index: 100;
  background-color: white; /* Make a variable */
  border-radius: 12px; /* Make a variable */
  box-shadow:
    0px 14px 18px -6px rgba(0, 0, 0, 0.25),
    0px 3px 13px 0px rgba(0, 0, 0, 0.35);
}

.lng1771-menu:focus {
  outline: none;
}

.lng1771-menu__arrow {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  background-color: #fff; /* Same as menu bg */
  z-index: -1;
  box-shadow: 0px 14px 18px -6px rgba(0, 0, 0, 0.25);
}

.lng1771-menu__arrow--dir-left {
  right: -0.375rem;
  transform: translateY(-50%) rotate(135deg);
}
.lng1771-menu__arrow--dir-right {
  left: -0.375rem;
  transform: translateY(-50%) rotate(-45deg);
}
.lng1771-menu__arrow--dir-top {
  bottom: -0.375rem;
  transform: translateX(-50%) rotate(-135deg);
}
.lng1771-menu__arrow--dir-bottom {
  top: -0.375rem;
  transform: translateX(-50%) rotate(45deg);
}

.lng1771-menu__item {
  display: flex;
  align-items: center;
  gap: 10px; /* Make a variable */
  border-radius: 8px; /* Make a variable */
  cursor: pointer;
  padding-inline-start: calc(8px + 2px); /* Make a variable */
  padding-inline-end: 8px; /* Make a variable */
  padding-block: 8px; /* Make a variable */
}

.lng1771-menu__item:focus {
  outline: none;
}

.lng1771-menu__item--hover {
  background-color: #ebebeb; /* Make a variable */
}
.lng1771-menu__item--focusable {
  cursor: default;
  background-color: inherit;
}
.lng1771-menu__item--disabled {
  cursor: default;
  color: #aaa /** Make a variable */;
}

.lng1771-menu__group {
  box-sizing: border-box;
}

.lng1771-menu__radio-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

.lng1771-menu__divider {
  height: 1px;
  margin: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.lng1771-menu-button {
  box-sizing: border-box;
}
