/* *:focus {
  outline: 2px solid blue;
  outline-offset: -3px;
}

[data-ln-row-selected="true"] [data-ln-cell] {
  background-color: green !important;
}

[data-ln-cell-selection-rect] {
  background-color: rgba(0, 0, 255, 0.2);
}
[data-ln-cell-selection-is-deselect="true"] {
  background-color: rgba(255, 0, 0, 0.2);
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;

  li {
    padding: 0px;
    padding-left: calc(16px * var(--tree-depth));
  }
}

[data-ln-tree-branch],
[data-ln-tree-leaf] {
  background-color: white;
  transition: transform 100ms ease-in-out;
}

[data-ln-tree-leaf][data-ln-selected="true"] {
  background-color: rgba(0, 0, 0, 0.2);
}
[data-ln-selected="true"] > [data-tree-branch-label] {
  background-color: rgba(0, 0, 255, 0.2);
}

[data-tree-branch-label] {
  display: flex;
  gap: 8px;
}

[data-tree-branch-grid-wrapped] {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 100ms ease-in;
  overflow: hidden;
}

[data-tree-branch-grid-wrapped][data-expanded="true"] {
  grid-template-rows: 1fr;
}

[data-tree-branch-grid-wrapped-content] {
  overflow: hidden;
}

[data-ln-drag-over="true"][data-ln-can-drop="true"][data-ln-is-after="true"]::before {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 2px;
  background-color: blue;
  content: "";
}

[data-ln-drag-over="true"][data-ln-can-drop="true"][data-ln-is-before="true"]::after {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 2px;
  background-color: blue;
  content: "";
} */
