.grid-box {
  [data-ln-drag-over="true"][data-ln-can-drop="true"][data-ln-is-after="true"] {
    position: relative;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: blue;
      bottom: 0px;
      left: 0px;
    }
  }
  [data-ln-drag-over="true"][data-ln-can-drop="true"][data-ln-is-before="true"] {
    position: relative;

    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 2px;
      background-color: blue;
      top: 0px;
      left: 0px;
    }
  }
}
