@theme {
  --color-xd-prose-link: hsla(194, 80%, 43%, 1);
  --color-xd-background: hsl(0, 0%, 99%);
  --color-xd-foreground: hsl(0, 0%, 3.9%);
  --color-xd-muted: hsl(0, 0%, 96.1%);
  --color-xd-muted-foreground: hsl(0, 0%, 45.1%);
  --color-xd-popover: hsl(0, 0%, 98%);
  --color-xd-popover-foreground: hsl(0, 0%, 15.1%);
  --color-xd-card: hsl(0, 0%, 94.7%);
  --color-xd-card-foreground: hsl(0, 0%, 3.9%);
  --color-xd-border: hsla(0, 0%, 80%, 50%);
  --color-xd-primary: hsl(0, 0%, 9%);
  --color-xd-primary-foreground: hsl(0, 0%, 98%);
  --color-xd-secondary: hsl(0, 0%, 93.1%);
  --color-xd-secondary-foreground: hsl(0, 0%, 9%);
  --color-xd-accent: hsla(0, 0%, 82%, 50%);
  --color-xd-accent-foreground: hsl(0, 0%, 9%);
  --color-xd-ring: hsl(0, 0%, 63.9%);
  --color-xd-overlay: hsla(0, 0%, 0%, 0.2);
}

[data-theme="dark"] {
  color-scheme: dark;
  --color-xd-prose-link: hsla(172, 75%, 40%, 1);
  --color-xd-background: hsl(0, 0%, 7.04%);
  --color-xd-foreground: hsl(0, 0%, 92%);
  --color-xd-muted: hsl(0, 0%, 12.9%);
  --color-xd-muted-foreground: hsla(0, 0%, 70%, 0.8);
  --color-xd-popover: hsl(0, 0%, 11.6%);
  --color-xd-popover-foreground: hsl(0, 0%, 86.9%);
  --color-xd-card: hsl(0, 0%, 9.8%);
  --color-xd-card-foreground: hsl(0, 0%, 98%);
  --color-xd-border: hsla(0, 0%, 40%, 20%);
  --color-xd-primary: hsl(0, 0%, 98%);
  --color-xd-primary-foreground: hsl(0, 0%, 9%);
  --color-xd-secondary: hsl(0, 0%, 12.9%);
  --color-xd-secondary-foreground: hsl(0, 0%, 92%);
  --color-xd-accent: hsla(0, 0%, 40.9%, 30%);
  --color-xd-accent-foreground: hsl(0, 0%, 90%);
  --color-xd-ring: hsl(0, 0%, 54.9%);
  --color-xd-overlay: hsla(0, 0%, 0%, 0.2);
}

[data-theme="light"] {
  color-scheme: light;
}
