@theme {
  --color-ln-prose-link: hsla(194, 80%, 43%, 1);
  --color-ln-background: hsl(0, 0%, 99%);
  --color-ln-foreground: hsl(0, 0%, 3.9%);
  --color-ln-muted: hsl(0, 0%, 96.1%);
  --color-ln-muted-foreground: hsl(0, 0%, 45.1%);
  --color-ln-popover: hsl(0, 0%, 98%);
  --color-ln-popover-foreground: hsl(0, 0%, 15.1%);
  --color-ln-card: hsl(0, 0%, 94.7%);
  --color-ln-card-foreground: hsl(0, 0%, 3.9%);
  --color-ln-border: hsla(0, 0%, 80%, 50%);
  --color-ln-primary: hsl(0, 0%, 9%);
  --color-ln-primary-foreground: hsl(0, 0%, 98%);
  --color-ln-secondary: hsl(0, 0%, 93.1%);
  --color-ln-secondary-foreground: hsl(0, 0%, 9%);
  --color-ln-accent: hsla(0, 0%, 82%, 50%);
  --color-ln-accent-foreground: hsl(0, 0%, 9%);
  --color-ln-ring: hsl(0, 0%, 63.9%);
  --color-ln-overlay: hsla(0, 0%, 0%, 0.2);
}

[data-theme="dark"] {
  --color-ln-prose-link: hsla(172, 75%, 40%, 1);
  --color-ln-background: hsl(0, 0%, 7.04%);
  --color-ln-foreground: hsl(0, 0%, 92%);
  --color-ln-muted: hsl(0, 0%, 12.9%);
  --color-ln-muted-foreground: hsla(0, 0%, 70%, 0.8);
  --color-ln-popover: hsl(0, 0%, 11.6%);
  --color-ln-popover-foreground: hsl(0, 0%, 86.9%);
  --color-ln-card: hsl(0, 0%, 9.8%);
  --color-ln-card-foreground: hsl(0, 0%, 98%);
  --color-ln-border: hsla(0, 0%, 40%, 20%);
  --color-ln-primary: hsl(0, 0%, 98%);
  --color-ln-primary-foreground: hsl(0, 0%, 9%);
  --color-ln-secondary: hsl(0, 0%, 12.9%);
  --color-ln-secondary-foreground: hsl(0, 0%, 92%);
  --color-ln-accent: hsla(0, 0%, 40.9%, 30%);
  --color-ln-accent-foreground: hsl(0, 0%, 90%);
  --color-ln-ring: hsl(0, 0%, 54.9%);
  --color-ln-overlay: hsla(0, 0%, 0%, 0.2);
}
