.lng1771-cell__edit {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.lng1771-cell__edit-input {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  padding: 0px;
  position: relative;
  inset-inline-start: 4px;
  top: 4px;
  border-radius: 0px;
}
