.lng1771-in-filter-tree {
  width: 100%;
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  font-family: var(--lng1771-typeface);
  color: var(--lng1771-gray-80);
  padding-inline: 8px;

  &::hover,
  &::focus {
    background-color: var(--lng1771-gray-20);
    outline: none;
  }
}
