.lng1771-popover {
  background-color: var(--lng1771-gray-10);
  border: 1px solid var(--lng1771-gray-30);
  border-radius: 8px;
  padding: 4px;
  box-shadow:
    0px 14px 18px -6px rgba(30, 30, 41, 0.07),
    0px 3px 13px 0px rgba(30, 30, 41, 0.1);

  &:focus {
    outline: none;
  }
  &::backdrop {
    background-color: transparent;
  }
}
