@import "@1771technologies/lytenyte-core-experimental/grid.css";

@layer ln-grid {
  .ln-grid {
    /* CELL SELECTION */
    [data-ln-cell-selection-rect]:not([data-ln-cell-selection-is-unit="true"]) {
      background-color: var(--ln-primary-30);
      box-sizing: border-box;

      &[data-ln-cell-selection-border-top="true"] {
        border-top: 1px solid var(--ln-primary-50);
      }
      &[data-ln-cell-selection-border-bottom="true"] {
        border-bottom: 1px solid var(--ln-primary-50);
      }
      &[data-ln-cell-selection-border-start="true"] {
        border-inline-start: 1px solid var(--ln-primary-50);
      }
      &[data-ln-cell-selection-border-end="true"] {
        border-inline-end: 1px solid var(--ln-primary-50);
      }
    }
    [data-ln-cell-selection-rect][data-ln-cell-selection-is-unit="true"] {
      outline: 1px solid var(--ln-primary-50);
      outline-offset: -1px;
    }

    [data-ln-component-group-cell="true"] {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 100%;

      padding-inline-start: calc(var(--ln-space-40) * var(--ln-row-depth));

      &[data-ln-component-group-cell-expandable="false"] {
        padding-inline-start: calc(var(--ln-space-40) * var(--ln-row-depth) + var(--ln-space-60));
      }

      &[data-ln-component-group-cell-expanded="true"] [data-ln-component-group-cell-expander="true"] {
        transform: rotate(90deg);
      }

      & [data-ln-component-group-cell-expander="true"] {
        background-color: transparent;
        border: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--ln-space-60);
        height: var(--ln-space-60);

        &:hover {
          background-color: var(--ln-bg-button-light);
          cursor: pointer;
        }
      }
    }
  }
}
