.lng1771-floating-filter {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 8px;
  padding-inline: 10px;
  box-sizing: border-box;
}

.lng1771-input.lng1771-floating-filter__input {
  height: 24px;
  flex: 1;
}

.lng1771-floating-filter__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 2px;
  background-color: transparent;
  border: none;
  color: var(--lng1771-gray-70);
  cursor: pointer;

  &:focus-visible {
    outline: 1px solid var(--lng1771-focus-outline);
    outline-offset: -2px;
  }

  &:disabled {
    color: var(--lng1771-gray-50);
    cursor: not-allowed;
  }
}

.lng1771-floating-filter__button--indicator {
  width: 8px;
  height: 8px;
  background-color: var(--lng1771-primary-50);
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
  border-radius: 9999px;
}
