.lng1771-input-container.lng1771-cell-editor-text {
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  padding: 0px;
  position: relative;
  inset-inline-start: 4px;
  top: 4px;
  border-radius: 0px;
}
