---
import { Steps as SLSteps } from "@astrojs/starlight/components";
---

<div class="xd-steps my-8">
  <SLSteps>
    <slot />
  </SLSteps>
</div>

<style>
  .xd-steps {
    --sl-line-height: 1.75;
    --sl-steps-start: 0;
    --sl-color-hairline-light: var(--color-xd-border);

    .sl-steps {
      margin: 0px;
    }

    .sl-steps li {
      padding-top: 0px;
    }
    .sl-steps li:not(:last-child) {
      padding-bottom: 24px;
    }

    .sl-steps > li::before {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: var(--color-xd-primary);
      background-color: var(--color-xd-card);
      border: 1px solid var(--color-xd-border);
    }
  }
</style>
