@source "./";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
}

@plugin "@iconify/tailwind4" {
  prefix: "ico";
  prefixes: ph, svg-spinners, logos;
}

@import "./theme/colors.css";
@import "./theme/utilities.css";

html {
  scrollbar-width: thin;
  scrollbar-gutter: stable;
}

body {
  -webkit-font-smoothing: antialiased; /* 1. MacOS / iOS specific: Enables subpixel antialiasing */
  -moz-osx-font-smoothing: grayscale; /* 2. Firefox specific: Thins out the font slightly for better readability */
  text-rendering: optimizeLegibility; /* 3. Standard property (improves kerning and ligatures) */
  text-size-adjust: 100%; /* 4. Optional: Fixes potential layout shifts when fonts load */
}

@theme {
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;

  --spacing-header: 64px;
  --spacing-subheader: 40px;
  --spacing-sidenav: 290px;
  --spacing-toc: 275px;

  --animate-xd-fade-in: xd-fade-in 300ms ease;
  --animate-xd-fade-out: xd-fade-out 300ms ease;

  @keyframes xd-fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes xd-fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.no-transition * {
  transition-duration: 0s !important;
  animation-duration: 0s !important;
}

.codeframe-tabs pre {
  border: 0px !important;
}
.codeframe-tabs .copy {
  display: none !important;
}

.codeframe-tabs .expressive-code,
.package-tabs .expressive-code {
  border-radius: 0px;
  border: 0px !important;
  margin: 0px;
}

.xd-tabs .expressive-code:first-child {
  border-radius: 0px;
}

.xd-callout .expressive-code {
  @apply my-2 -ms-1;
}
.xd-tabs .expressive-code:first-child {
  @apply my-0;

  & pre {
    @apply rounded-none border-transparent;
  }
}

.expressive-code {
  @apply my-8;
  border: 1px solid var(--color-xd-border);
  border-radius: 16px;
}

.expressive-code pre {
  border: 0px solid transparent !important;
}

.expressive-code .frame.frame {
  box-shadow: none;
}

.type-table .expressive-code {
  @apply my-0;

  & code {
    @apply p-0;

    & .code {
      @apply pe-1! ps-1!;
    }
  }
}

.code-dim {
  code > .ec-line:not(.highlight) {
    @apply transition-opacity;
    opacity: 0.5;
  }
  code:hover > .ec-line:not(.highlight) {
    opacity: 1;
  }
}

.expressive-code .ec-line.mark.tm-label .code.code::before {
  background-color: var(--color-xd-foreground);
  color: var(--color-xd-background);
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: calc(100% - 0px);
  top: calc(50%);
  left: -12px;
  transform: translateY(-50%);
  aspect-ratio: 1/ 1;
}

.expressive-code .ec-line.mark .code.code {
  --ecLineBrdCol: var(--color-xd-foreground);
}
