.dragging {
  background-color: black;
  color: white;
  width: fit-content;
}

[data-ln-drag-over="true"] {
  border: 2px dashed yellow;
}
[data-ln-can-drop="true"] {
  background-color: cadetblue !important;
}

[data-ln-drag-keyboard-focus="true"] {
  outline: 2px solid blue;
}
