.rowDetail {
  & [data-ln-row-detail="true"] {
    padding: 24px;

    & > div {
      border: 1px solid var(--lng1771-gray-30);
      border-radius: 8px;
      background-color: light-dark(white, transparent);
    }
  }
}

.cell {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  background-color: light-dark(white, hsla(190, 32%, 6%, 1));
  color: light-dark(hsla(175, 6%, 38%, 1), hsla(175, 10%, 86%, 1));
  font-size: 14px;
  border-bottom: 1px solid light-dark(hsla(175, 20%, 95%, 1), hsla(177, 19%, 17%, 1));

  &[data-ln-type="number"] {
    justify-content: end;
  }
}

[data-ln-alternate="true"] .cell {
  background-color: light-dark(hsl(0, 27%, 98%), hsl(184, 33%, 8%));
}

.headerCell {
  display: flex;
  align-items: center;
  padding-inline: 8px;
  background-color: light-dark(hsla(175, 12%, 92%, 1), hsla(177, 19%, 17%, 1));
  color: light-dark(hsla(177, 19%, 17%, 1), hsla(175, 12%, 92%, 1));
  text-transform: capitalize;
  font-size: 14px;

  &[data-ln-type="number"] {
    justify-content: end;
  }
}
