.lng1771-header__cell {
  grid-column-start: 1;
  grid-column-end: 2;
  box-sizing: border-box;
  overflow: hidden;

  border-bottom: 1px solid var(--lng1771-gray-10);
  background-color: var(--lng1771-gray-00);
  color: var(--lng1771-gray-60);
  font-family: var(--lng1771-typeface);
  font-size: 14px;
  font-weight: 500;
}

.lng1771-header__cell-expand {
  grid-column-start: 1;
  grid-column-end: 2;
  box-sizing: border-box;
  overflow: hidden;

  border: none;
  border-bottom: 1px solid var(--lng1771-gray-10);
  background-color: var(--lng1771-gray-00);
  color: var(--lng1771-gray-60);
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: var(--lng1771-gray-10);
  }
}

.lng1771-header__cell--over-before::after {
  inset-inline-start: 0px;
}
.lng1771-header__cell--over-after::after {
  inset-inline-end: 1px;
}
.lng1771-header__cell--over::after {
  top: 0px;
  position: absolute;
  width: 4px;
  border-radius: 8px;
  height: 100%;
  content: "";
  background-color: var(--lng1771-allowed-to-drop, var(--lng1771-primary-50));
  z-index: 20;
}
.lng1771-header__cell--over-not-allowed {
  --lng1771-allowed-to-drop: red;
}

.lng1771-header-drag-placeholder--default {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--lng1771-gray-05);
  border: 1px solid var(--lng1771-primary-30);
  border-radius: 6px;
  padding-inline: 8px;
  padding-block: 8px;
}
