.lng1771-header__cell-divider {
  grid-column-start: 1;
  grid-column-end: 2;

  box-sizing: border-box;

  width: 4px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  & div {
    height: calc(100% - 8px);
    width: 1px;
    background-color: var(--lng1771-gray-50);
  }
}

.lng1771-header__cell-divider--resizable {
  cursor: col-resize;

  &:hover div {
    background-color: var(--lng1771-primary-50);
  }
}
