/*
DIALOG TITLE AND DESCRIPTION
*/

[data-ln-dialog-title="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}
[data-ln-dialog-description="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

/* 
DIALOG CONTAINER
*/
[data-ln-dialog="true"] {
  margin: 0px;
  padding: var(--ln-space-40);
  max-width: unset;
  max-height: unset;

  color: var(--ln-text-dark);
  border-radius: var(--ln-radius-lg);

  inset-block-start: 10%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  overflow: unset;

  font-family: var(--ln-typeface);

  border: 1px solid var(--ln-border-popover);
  background-color: var(--ln-bg-popover);
  box-shadow: var(--ln-shadow-400);

  transition-property: opacity, scale;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &[data-ln-transition="opening"],
  &[data-ln-transition="closing"] {
    opacity: 0;
    transform: scale(0.98) translateX(-50%);
  }
  &::backdrop {
    backdrop-filter: blur(1px);
    background-color: transparent;
    transition-property: backdrop-filter;
    transition-duration: var(--ln-transition-duration);
    transition-timing-function: var(--ln-transition-fn);
  }
  &[data-ln-transition="opening"]::backdrop,
  &[data-ln-transition="closing"]::backdrop {
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}

/*
DIALOG CLOSE BUTTON
*/
[data-ln-dialog-close="true"] {
  margin: 0;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 26px;
  min-height: 26px;

  border: transparent;
  border-radius: var(--ln-radius);

  transition-property: background-color, color;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  color: var(--ln-border-icon);
  background-color: var(--ln-bg-light);

  &:hover:not(:disabled) {
    cursor: pointer;
    background-color: var(--ln-bg-strong);
  }
  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}
