/*
DIALOG TITLE AND DESCRIPTION
*/

[data-ln-dialog-title="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
}
[data-ln-dialog-description="true"] {
  margin: 0px;
  padding: 0px;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 20px;
}

/* 
DIALOG CONTAINER
*/
[data-ln-dialog="true"] {
  margin: 0px;
  max-width: unset;
  max-height: unset;

  inset-block-start: 10%;
  inset-inline-start: 50%;
  transform: translateX(-50%);
  overflow: unset;
}

.ln-light {
  [data-ln-dialog="true"] {
    padding: var(--ln-space-40);

    border: 1px solid var(--ln-border-floating-panel);
    border-radius: var(--ln-radius-lg);

    color: var(--ln-text-dark);
    background-color: var(--ln-bg-floating-panel);
    box-shadow: var(--ln-shadow-500);

    font-family: var(--ln-typeface);
  }
}

.ln-dark {
  [data-ln-dialog="true"] {
    padding: var(--ln-space-40);

    border: 1px solid var(--ln-border-strong);
    border-radius: var(--ln-radius-lg);

    color: var(--ln-text-dark);
    background-color: var(--ln-bg);
    box-shadow: var(--ln-shadow-dark-500);

    font-family: var(--ln-typeface);
  }
}

/*
DIALOG CLOSE BUTTON
*/
[data-ln-dialog-close="true"] {
  margin: 0;
  padding: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 26px;
  min-height: 26px;

  border: transparent;
  border-radius: var(--ln-radius);

  transition-property: background-color, color;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &:hover:not(:disabled) {
    cursor: pointer;
  }
  &:active:not(:disabled) {
    transform: scale(0.98);
  }
}

.ln-light {
  [data-ln-dialog-close="true"] {
    color: var(--ln-border-icon);
    background-color: var(--ln-bg-light);

    &:hover:not(:disabled) {
      background-color: var(--ln-bg-strong);
    }
  }
}

.ln-dark {
  [data-ln-dialog-close="true"] {
    color: var(--ln-border-icon);
    background-color: var(--ln-bg-light);

    &:hover:not(:disabled) {
      background-color: var(--ln-bg-strong);
    }
  }
}
