[data-ln-popover="true"] {
  margin: 0px;
  padding: var(--ln-space-40);
  max-width: unset;
  max-height: unset;

  color: var(--ln-text-dark);
  border-radius: var(--ln-radius-lg);

  inset-block-start: 10%;
  inset-inline-start: 50%;
  overflow: unset;

  font-family: var(--ln-typeface);

  border: 1px solid var(--ln-border-strong);
  background-color: var(--ln-bg);
  box-shadow: var(--ln-shadow-dark-500);

  transition-property: opacity, scale;
  transition-duration: var(--ln-transition-duration);
  transition-timing-function: var(--ln-transition-fn);

  &[data-ln-transition="opening"],
  &[data-ln-transition="closing"] {
    opacity: 0;
    transform: scale(0.98);
  }
  &::backdrop {
    background-color: transparent;
    transition-property: backdrop-filter;
    transition-duration: var(--ln-transition-duration);
    transition-timing-function: var(--ln-transition-fn);
  }

  [data-ln-dialog-arrow="true"] {
    position: absolute;

    [data-ln-dialog-arrow-area="true"] {
      fill: var(--ln-bg-floating-panel);
    }
    [data-ln-dialog-arrow-border] {
      stroke: var(--ln-border-strong);
    }

    &[data-ln-placement="bottom"] {
      top: 0px;
      transform: translateY(-100%);
    }
    &[data-ln-placement="top"] {
      bottom: 0px;
      transform: translateY(100%) rotate(180deg);
    }
    &[data-ln-placement="left"] {
      right: 0px;
      transform: translateX(calc(100% - 4px)) rotate(90deg);
    }
    &[data-ln-placement="right"] {
      left: 0px;
      transform: translateX(calc(-100% + 4px)) rotate(-90deg);
    }
  }
}

.ln-light,
.ln-shadcn {
  [data-ln-popover="true"] {
    border: 1px solid var(--ln-border-floating-panel);
    background-color: var(--ln-bg-floating-panel);
    box-shadow: var(--ln-shadow-500);
  }

  [data-ln-dialog-arrow="true"] {
    [data-ln-dialog-arrow-area="true"] {
      fill: var(--ln-bg-floating-panel);
    }
    [data-ln-dialog-arrow-border] {
      stroke: var(--ln-border-floating-panel);
    }
  }
}

.ln-cotton-candy {
  [data-ln-popover="true"] {
    border: 2px solid var(--ln-border);
    background-color: #fde9ff;
  }
}
