@import "@1771technologies/lytenyte-design/font.css";
@import "@1771technologies/lytenyte-design/design.css";
@import "@1771technologies/lytenyte-design/light.css";
@import "@1771technologies/lytenyte-design/dark.css";
@import "@1771technologies/lytenyte-design/term.css";
@import "@1771technologies/lytenyte-design/teal.css";
@import "@1771technologies/lytenyte-design/cotton-candy.css";
@import "@1771technologies/lytenyte-design/shadcn.css";

@import "./ui.minimal.css";
