.lng1771-header__cell,
.lng1771-header__cell-expand,
.lng1771-header__cell-floating,
.lng1771-header__cell-group,
.lng1771-cell,
.lng1771-cell__full-width {
  &:focus-visible {
    outline: none;
  }

  &:focus-visible:after {
    content: "";
    position: absolute;
    top: 0px;
    inset-inline-start: 1px;
    width: calc(100% - 2px);
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid var(--lng1771-focus-outline);
    border-radius: 2px;
    z-index: 10;
  }
}

.lng1771-drag-placeholder {
  padding-inline: 12px;
  padding-block: 8px;
  border: 1px solid var(--lng1771-primary-50);
  background-color: var(--lng1771-gray-10);
  border-radius: 8px;
  font-size: 14px;
  font-family: var(--lng1771-typeface);
}
