.lng1771-header__cell,
.lng1771-header__cell-expand,
.lng1771-header__cell-floating,
.lng1771-header__cell-group,
.lng1771-cell__full-width {
  &:focus {
    outline: none;
  }

  &:focus:after {
    content: "";
    position: absolute;
    top: 0px;
    inset-inline-start: 1px;
    width: calc(100% - 2px);
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
    border: 1px solid var(--lng1771-focus-outline);
    border-radius: 2px;
    z-index: 10;
  }
}
