.dark {
  color-scheme: dark;

  --lng1771-primary-05: rgba(18, 108, 255, 0.05);
  --lng1771-primary-10: rgba(49, 127, 255, 0.1);
  --lng1771-primary-30: rgba(18, 108, 255, 0.3);
  --lng1771-primary-50: #126cff;
  --lng1771-primary-70: #004dcc;
  --lng1771-primary-90: #00307d;

  --lng1771-gray-00: #151519;
  --lng1771-gray-02: #121316;
  --lng1771-gray-05: #1c1e21;
  --lng1771-gray-10: #282a2e;
  --lng1771-gray-20: #2f3137;
  --lng1771-gray-30: #3f424a;
  --lng1771-gray-40: #525660;
  --lng1771-gray-50: #676c79;
  --lng1771-gray-60: #62636a;
  --lng1771-gray-70: #7a7b85;
  --lng1771-gray-80: #9898a0;
  --lng1771-gray-90: #e4e4e7;
  --lng1771-gray-100: #e4e4e7;

  --lng1771-backgrounds-default: var(--lng1771-gray-05);
  --lng1771-backgrounds-strong: var(--lng1771-gray-10);
  --lng1771-backgrounds-light: var(--lng1771-gray-00);
  --lng1771-backgrounds-button-light: var(--lng1771-gray-20);
  --lng1771-backgrounds-context-menu: var(--lng1771-backgrounds-strong);
  --lng1771-backgrounds-floating-panel: var(--lng1771-backgrounds-default);
  --lng1771-backgrounds-form-field: var(--lng1771-gray-00);
  --lng1771-backgrounds-form-field-focus: var(--lng1771-backgrounds-form-field);
  --lng1771-backgrounds-page: #0c0c0e;
  --lng1771-backgrounds-row-alternate: var(--lng1771-gray-02);
  --lng1771-backgrounds-row-hover: var(--lng1771-primary-05);
  --lng1771-backgrounds-ui-panel: var(--lng1771-gray-00);
  --lng1771-backgrounds-row-selected: #1c2b44;

  --lng1771-borders-row: var(--lng1771-gray-05);
  --lng1771-borders-default: var(--lng1771-gray-10);
  --lng1771-borders-strong: var(--lng1771-gray-20);
  --lng1771-borders-button-light: var(--lng1771-gray-30);
  --lng1771-borders-context-menu: var(--lng1771-gray-30);
  --lng1771-borders-field-and-button: var(--lng1771-gray-20);
  --lng1771-borders-field-and-button-shadow: rgba(0, 0, 0, 0);
  --lng1771-borders-icons-default: var(--lng1771-gray-70);
  --lng1771-borders-ui-panel: var(--lng1771-gray-10);
  --lng1771-borders-floating-panel: var(--lng1771-borders-strong);
  --lng1771-borders-separator: var(--lng1771-gray-30);
  --lng1771-borders-focus-shadow: var(--lng1771-primary-30);
  --lng1771-borders-focus: var(--lng1771-primary-50);

  --lng1771-system-plain-pill-fill: var(--lng1771-backgrounds-default);
  --lng1771-system-column-pill-fill: #182644;
  --lng1771-system-column-pill-stroke: rgba(18, 108, 255, 0.58);
  --lng1771-system-pivot-pill-fill: rgba(120, 57, 255, 0.18);
  --lng1771-system-pivot-pill-stroke: rgba(136, 81, 255, 0.6);
  --lng1771-system-group-pill-fill: rgba(0, 221, 147, 0.14);
  --lng1771-system-group-pill-stroke: rgba(26, 255, 172, 0.35);
  --lng1771-system-pill-icon-color: var(--lng1771-gray-50);

  --lng1771-system-green-10: rgba(35, 209, 147, 0.12);
  --lng1771-system-green-30: rgba(35, 209, 147, 0.4);
  --lng1771-system-green-50: #23d193;
  --lng1771-system-green-70: #169e6e;
  --lng1771-system-green-90: #0a7951;
  --lng1771-system-info-10: var(--lng1771-gray-10);
  --lng1771-system-info-30: var(--lng1771-gray-30);
  --lng1771-system-info-50: var(--lng1771-gray-60);
  --lng1771-system-info-70: var(--lng1771-gray-70);
  --lng1771-system-info-90: var(--lng1771-gray-80);
  --lng1771-system-red-10: rgba(246, 43, 69, 0.12);
  --lng1771-system-red-30: rgba(246, 43, 69, 0.4);
  --lng1771-system-red-50: #f62b45;
  --lng1771-system-red-70: #e61633;
  --lng1771-system-red-90: #ac1125;
  --lng1771-system-yellow-10: rgba(241, 190, 70, 0.12);
  --lng1771-system-yellow-30: rgba(241, 190, 70, 0.4);
  --lng1771-system-yellow-50: #f1be46;
  --lng1771-system-yellow-70: #d6aa00;
  --lng1771-system-yellow-90: #ae8a00;

  --lng1771-text-hyperlink: var(--lng1771-primary-50);
  --lng1771-text-primary-button: #ffffff;
  --lng1771-text-dark: var(--lng1771-gray-80);
  --lng1771-text-light: var(--lng1771-gray-70);
  --lng1771-text-medium: var(--lng1771-gray-80);
  --lng1771-text-x-light: var(--lng1771-gray-60);
}
