.lng1771-term256 {
  color-scheme: dark;
  --lng1771-gradient-shadow: linear-gradient(90deg, var(--lng1771-gray-70), var(--lng1771-gray-70));

  --lng1771-backgrounds-default: var(--lng1771-gray-10);
  --lng1771-backgrounds-strong: var(--lng1771-gray-20);
  --lng1771-backgrounds-light: var(--lng1771-gray-05);
  --lng1771-backgrounds-button-light: var(--lng1771-gray-20);
  --lng1771-backgrounds-context-menu: var(--lng1771-backgrounds-strong);
  --lng1771-backgrounds-floating-panel: var(--lng1771-backgrounds-default);
  --lng1771-backgrounds-form-field: var(--lng1771-gray-05);
  --lng1771-backgrounds-form-field-focus: var(--lng1771-backgrounds-form-field);
  --lng1771-backgrounds-page: #0a0a0a;
  --lng1771-backgrounds-row: var(--lng1771-gray-00);
  --lng1771-backgrounds-row-alternate: var(--lng1771-gray-02);
  --lng1771-backgrounds-row-hover: var(--lng1771-primary-05);
  --lng1771-backgrounds-ui-panel: var(--lng1771-gray-05);
  --lng1771-backgrounds-row-selected: #1d3433;

  --lng1771-borders-row: var(--lng1771-gray-10);
  --lng1771-borders-pin-separator: var(--lng1771-gray-50);
  --lng1771-borders-default: var(--lng1771-gray-20);
  --lng1771-borders-strong: var(--lng1771-gray-30);
  --lng1771-borders-button-light: var(--lng1771-gray-30);
  --lng1771-borders-context-menu: var(--lng1771-gray-30);
  --lng1771-borders-field-and-button: var(--lng1771-gray-30);
  --lng1771-borders-field-and-button-shadow: rgba(0, 0, 0, 0);
  --lng1771-borders-icons-default: var(--lng1771-gray-70);
  --lng1771-borders-ui-panel: var(--lng1771-gray-10);
  --lng1771-borders-floating-panel: var(--lng1771-borders-strong);
  --lng1771-borders-separator: var(--lng1771-borders-strong);
  --lng1771-borders-focus-shadow: var(--lng1771-primary-30);
  --lng1771-borders-focus: var(--lng1771-primary-50);

  --lng1771-system-plain-pill-fill: var(--lng1771-backgrounds-default);
  --lng1771-system-column-pill-fill: #182a2a;
  --lng1771-system-column-pill-stroke: rgba(0, 181, 181, 0.266);
  --lng1771-system-pivot-pill-fill: rgba(120, 57, 255, 0.18);
  --lng1771-system-pivot-pill-stroke: rgba(136, 81, 255, 0.6);
  --lng1771-system-group-pill-fill: rgba(0, 221, 147, 0.14);
  --lng1771-system-group-pill-stroke: rgba(26, 255, 172, 0.35);
  --lng1771-system-pill-icon-color: var(--lng1771-gray-60);

  --lng1771-system-green-10: rgba(69, 215, 132, 0.12);
  --lng1771-system-green-30: rgba(69, 215, 132, 0.4);
  --lng1771-system-green-50: #45d784;
  --lng1771-system-green-70: #36af5c;
  --lng1771-system-green-90: #28875e;
  --lng1771-system-info-10: var(--lng1771-gray-10);
  --lng1771-system-info-30: var(--lng1771-gray-30);
  --lng1771-system-info-50: var(--lng1771-gray-60);
  --lng1771-system-info-70: var(--lng1771-gray-70);
  --lng1771-system-info-90: var(--lng1771-gray-80);
  --lng1771-system-red-10: rgba(244, 0, 0, 0.16);
  --lng1771-system-red-30: rgba(244, 0, 0, 0.5);
  --lng1771-system-red-50: #f62b45;
  --lng1771-system-red-70: #e61633;
  --lng1771-system-red-90: #a70000;
  --lng1771-system-yellow-10: rgba(251, 222, 0, 0.12);
  --lng1771-system-yellow-30: rgba(251, 222, 0, 0.4);
  --lng1771-system-yellow-50: #fbde00;
  --lng1771-system-yellow-70: #f8ae00;
  --lng1771-system-yellow-90: #ab8600;

  --lng1771-text-hyperlink: var(--lng1771-primary-50);
  --lng1771-text-primary-button: var(--lng1771-gray-00);
  --lng1771-text-dark: var(--lng1771-gray-90);
  --lng1771-text-light: var(--lng1771-gray-70);
  --lng1771-text-medium: var(--lng1771-gray-80);
  --lng1771-text-x-light: var(--lng1771-gray-60);

  /* Grid theme */

  --lng1771-typeface: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --lng1771-header-font-typeface: var(--lng1771-typeface);

  --lng1771-primary-05: rgba(87, 255, 255, 0.07);
  --lng1771-primary-10: rgba(87, 255, 255, 0.07);
  --lng1771-primary-30: rgba(87, 255, 255, 0.3);
  --lng1771-primary-50: #57ffff;
  --lng1771-primary-70: #278081;
  --lng1771-primary-90: #278081;

  --lng1771-gray-00: #000000;
  --lng1771-gray-02: #0f0f0f;
  --lng1771-gray-05: #121212;
  --lng1771-gray-10: #1c1c1c;
  --lng1771-gray-20: #262626;
  --lng1771-gray-30: #303030;
  --lng1771-gray-40: #3a3a3a;
  --lng1771-gray-50: #4e4e4e;
  --lng1771-gray-60: #626262;
  --lng1771-gray-70: #8a8a8a;
  --lng1771-gray-80: #a8a8a8;
  --lng1771-gray-90: #dadada;
  --lng1771-gray-100: #eeeeee;

  --lng1771-grid-container-bg: var(--lng1771-gray-05);
  --lng1771-grid-container-divider: var(--lng1771-gray-20);
  --lng1771-grid-drag-bar-color: var(--lng1771-primary-50);
  --lng1771-grid-drag-bar-not-allowed-color: #f62b45;
  --lng1771-grid-focus-outline: var(--lng1771-primary-50);
  --lng1771-grid-pin-separator-x: var(--lng1771-gray-50);
  --lng1771-grid-pin-separator-y: var(--lng1771-gray-50);

  --lng1771-menu-item-bg: transparent;
  --lng1771-menu-item-bg-hover: var(--lng1771-gray-05);
  --lng1771-menu-item-fg: var(--lng1771-gray-80);
  --lng1771-menu-item-fg-disabled: var(--lgn1771-gray-50);
  --lng1771-menu-bg: var(--lng1771-gray-20);
  --lng1771-menu-item-divider: var(--lng1771-gray-40);

  --lng1771-button-fg: var(--lng1771-gray-70);
  --lng1771-button-bg: var(--lng1771-gray-10);
  --lng1771-button-bg-hover: var(--lng1771-gray-20);
  --lng1771-button-border: var(--lng1771-gray-30);

  --lng1771-header-bg: var(--lng1771-gray-00);
  --lng1771-header-bg-hover: var(--lng1771-primary-10);
  --lng1771-header-fg: var(--lng1771-gray-60);
  --lng1771-header-fg-alt: var(--lng1771-gray-70);
  --lng1771-header-fg-agg: var(--lng1771-primary-50);
  --lng1771-header-divider-y-resize: var(--lng1771-primary-50);
  --lng1771-header-divider-y: var(--lng1771-gray-50);
  --lng1771-header-divider-x: var(--lng1771-gray-10);

  --lng1771-row-bg: var(--lng1771-gray-00);
  --lng1771-row-bg-alt: var(--lng1771-gray-02);
  --lng1771-row-bg-hover: var(--lng1771-gray-10);
  --lng1771-row-bg-selected: #192b2d;

  --lng1771-cell-divider-y: transparent;
  --lng1771-cell-divider-x: var(--lng1771-gray-10);
  --lng1771-cell-fg: var(--lng1771-gray-80);
}
