.grid-container {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: var(--lng1771-grid-container-bg);
}

.grid-container__top {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-inline: var(--lng1771-grid-container-px);
  padding-block: var(--lng1771-grid-container-py);
}

.grid-container__bottom {
  display: flex;
  align-items: center;
  padding-inline: var(--lng1771-grid-container-px);
  padding-block: var(--lng1771-grid-container-py);
}
