@import "tailwindcss";
@source "../";

@custom-variant dark {
  &:where([data-theme="dark"] *) {
    @slot;
  }
}

@plugin "@iconify/tailwind4" {
  prefix: "ico";
  prefixes: ph, svg-spinners, logos;
}

@import "./colors.css";
@import "./utilities.css";
