@layer base {
  .prose {
    @apply text-sm text-neutral-800 dark:text-neutral-400;

    h1 {
      @apply not-first:mt-2 text-ln-foreground scroll-m-28 text-[28px] font-bold tracking-tight;
    }

    h2 {
      @apply [&+*]:[code]:text-xl [&+.steps]:mt-0! [&+.steps>h3]:mt-4! [&+h3]:mt-6! [&+p]:mt-4! text-ln-foreground mt-6 scroll-m-28 text-2xl font-medium tracking-tight first:mt-0;
    }

    h3 {
      @apply [&+p]:mt-4! *:[code]:text-xl text-ln-foreground mt-12 scroll-m-28 text-xl font-medium tracking-tight;
    }

    h4 {
      @apply mt-8 scroll-m-28 text-base font-medium tracking-tight;
    }

    h5 {
      @apply mt-8 scroll-m-28 text-base font-medium tracking-tight;
    }

    h6 {
      @apply mt-8 scroll-m-28 text-base font-medium tracking-tight;
    }

    a {
      @apply font-medium text-emerald-800 underline underline-offset-4 transition-colors hover:text-emerald-600 dark:text-emerald-400 dark:hover:text-emerald-300;
    }

    p {
      @apply not-first:mt-6 leading-relaxed;
    }

    strong {
      @apply text-ln-accent-foreground/95 font-semibold;
    }

    ul {
      @apply ml-4.5 list-disc;
    }
    ol {
      @apply ml-4.5 list-decimal;
    }
    /* Only ULs that are NOT inside another UL/OL */
    ul:not(ul ul, ol ul) {
      @apply my-6;
    }

    /* Only OLs that are NOT inside another UL/OL */
    ol:not(ul ol, ol ol) {
      @apply my-6;
    }

    li {
      @apply mt-2 py-1;
    }
    blockquote {
      @apply mt-6 border-l-2 pl-6 italic;
    }
    img {
      @apply my-2 justify-center rounded-md;
    }
    hr {
      @apply my-4 md:my-8;
    }

    table {
      @apply divide-ln-border relative min-w-full divide-y;
    }
    th {
      @apply py-3.5 pl-4 pr-3 text-left text-sm sm:pl-3;
    }
    tr {
      @apply even:bg-ln-popover;
    }
    td {
      @apply whitespace-nowrap px-3 py-4 text-sm;
    }
  }
}
