.lng1771-box-collapse-button {
  transform: rotate(-90deg);
  color: var(--lng1771-gray-70);
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 24px;
  height: 24px;
  padding: 0px;

  background-color: transparent;

  &:hover {
    background-color: var(--lng1771-gray-10);
  }

  & span {
    position: relative;
    inset-block-end: 2px;
  }
}

.lng1771-box-expand-button {
  transform: rotate(90deg);
  color: var(--lng1771-gray-70);
  font-size: 20px;
  padding: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  width: 24px;
  height: 24px;

  background-color: transparent;
  &:hover {
    background-color: var(--lng1771-gray-10);
  }

  & span {
    position: relative;
    inset-block-end: 2px;
  }
}

.lng1771-box-pill-dragger {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  transform: translate(0px, 1px);
}

.lng1771-box-pill-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  transform: translate(0px, -1px);
}
