.lng1771-column-manager__container {
  display: grid;
  height: 100%;

  grid-template-columns: 1fr;
  grid-template-rows: 60% 1px calc(100% - 1px - 60%);
  box-sizing: border-box;
}

@container (min-width: 500px) {
  .lng1771-column-manager__container {
    grid-template-columns: 1fr 1px 1fr;
    grid-template-rows: 100%;
  }
}

.lng1771-column-manager__separator--vertical {
  display: none;
}

.lng1771-column-manager__separator--horizontal {
  display: block;
}

@container (min-width: 500px) {
  .lng1771-column-manager__separator--vertical {
    display: block;
  }

  .lng1771-column-manager__separator--horizontal {
    display: none;
  }
}

.lng1771-column-manager__drag-box {
  padding: 12px;
}
