@layer ln-components {
  [data-ln-dialog] {
    overflow: unset;
    border: unset;
    max-width: unset;
    max-height: unset;
    visibility: unset;
    padding: unset;
    margin: unset;
    outline: none;
  }
}
