.drawer {
  border: 1px solid black;
  box-sizing: border-box;
  transition: transform 150ms ease-in;
  transform: translate3d(0px, 0px, 0px);
}

.drawer[data-ln-drawer-side="start"] {
  width: 300px;
  &::backdrop {
    transition: background-color 200ms ease-in;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &[data-dialog-state="open-begin"] {
    transform: translate3d(-100%, 0px, 0px);
    &::backdrop {
      background-color: transparent;
    }
  }

  &[data-dialog-state="closed"],
  &[data-dialog-state="closing"] {
    transform: translate3d(-100%, 0px, 0px);

    &::backdrop {
      background-color: transparent;
    }
  }
}

.drawer[data-ln-drawer-side="end"] {
  width: 300px;
  &::backdrop {
    transition: background-color 200ms ease-in;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &[data-dialog-state="open-begin"] {
    transform: translate3d(100%, 0px, 0px);
    &::backdrop {
      background-color: transparent;
    }
  }

  &[data-dialog-state="closed"],
  &[data-dialog-state="closing"] {
    transform: translate3d(100%, 0px, 0px);

    &::backdrop {
      background-color: transparent;
    }
  }
}

.drawer[data-ln-drawer-side="top"] {
  height: 300px;
  &::backdrop {
    transition: background-color 200ms ease-in;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &[data-dialog-state="open-begin"] {
    transform: translate3d(0px, -100%, 0px);
    &::backdrop {
      background-color: transparent;
    }
  }

  &[data-dialog-state="closed"],
  &[data-dialog-state="closing"] {
    transform: translate3d(0px, -100%, 0px);

    &::backdrop {
      background-color: transparent;
    }
  }
}

.drawer[data-ln-drawer-side="bottom"] {
  height: 300px;
  &::backdrop {
    transition: background-color 200ms ease-in;
    background-color: rgba(0, 0, 0, 0.2);
  }

  &[data-dialog-state="open-begin"] {
    transform: translate3d(0px, 100%, 0px);
    &::backdrop {
      background-color: transparent;
    }
  }

  &[data-dialog-state="closed"],
  &[data-dialog-state="closing"] {
    transform: translate3d(0px, 100%, 0px);

    &::backdrop {
      background-color: transparent;
    }
  }
}
