.lng1771-grid-frame {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: 1fr;
}

.lng1771-grid-frame__open-panel {
  width: 100%;
  height: 100%;
  background-color: var(--lng1771-gray-05);
  scrollbar-width: thin;
}

.lng1771-grid-frame__grid-area {
  width: 100%;
  height: 100%;
}

.lng1771-grid-frame__open-panel--splitter {
  width: 1px;
  background-color: var(--lng1771-gray-30);
  position: relative;
  cursor: col-resize;

  &::after {
    position: absolute;
    inset-inline-start: -4px;
    width: 4px;
    height: 100%;
    background-image: var(--lng1771-gradient-shadow);
    opacity: 0.11;
    content: "";
  }
}

.lng1771-grid-frame__controls {
  height: 100%;
  width: 100%;
  writing-mode: vertical-lr;
  background-color: var(--lng1771-gray-05);
  border-block-start: 1px solid var(--lng1771-gray-20);
  box-sizing: border-box;
}

.lng1771-grid-frame__control-button {
  width: 100%;
  padding-inline: 10px;
  border: 1px solid transparent;
  background-color: var(--lng1771-gray-20);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--lng1771-gray-80);
  font-size: 12px;
  font-family: var(--lng1771-typeface);
  font-weight: 400;

  &:focus-visible {
    outline: none;
    border: 1px solid var(--lng1771-focus-outline);
  }
  &:hover {
    background-color: var(--lng1771-gray-10);
  }
}

.lng1771-grid-frame__control-button--open {
  background-color: var(--lng1771-gray-10);
}

.lng1771-grid-frame__control-button-icon {
  color: var(--lng1771-gray-70);
}
