.lng1771-pill-manager {
  container-type: inline-size;
}

.lng1771-pill-manager__separator {
  height: 1px;
  width: 100%;
  background-color: var(--lng1771-gray-40);
  grid-column: -1 /1;
}

.lng1771-pill-manager__rows {
  display: grid;
  grid-template-columns: 160px calc(100% - 160px - 30px) 30px;
}

@container (max-width: 450px) {
  .lng1771-pill-manager_rows {
    display: grid;
    grid-template-columns: 50px calc(100% -50px - 30px) 30px;
  }
}

.lng1771-pill-manager__row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
  gap: 4px;
  min-height: 46px;
}

.lng1771-pill-manager__row:not([data-expanded="true"])
  .lng1771-pill-manager__pill-outer[data-pill-active="false"] {
  transition: opacity ease-in-out 100ms;
  opacity: 0;
}

.lng1771-pill-manager__row[data-expanded="true"]
  .lng1771-pill-manager__pill-outer[data-pill-active="false"] {
  opacity: 0.7;
}

.lng1771-pill-manager__row:hover .lng1771-pill-manager__pill-outer[data-pill-active="false"] {
  opacity: 0.7;
}
body.lng1771-drag-on
  .lng1771-pill-manager__row:hover
  .lng1771-pill-manager__pill-outer[data-pill-active="false"] {
  display: none;
}

/** Pill CONTAINER **/
.lng1771-pill-manager__pills {
  display: flex;
  align-items: center;
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &[data-drop-visible="true"] {
    outline: 1px dashed var(--lng1771-primary-50);
    outline-offset: -2px;
  }
}

.lng1771-pill-manager__pills-inner {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 4px;
}

.lng1771-pill-manager__row[data-expanded="true"] .lng1771-pill-manager__pills-inner {
  overflow: initial;
  flex-wrap: wrap;
}

.lng1771-pill-manager__row-label {
  padding-inline-start: 16px;
}

.lng1771-pill-manager__row-label-built-in {
  display: flex;
  align-items: center;
  gap: 5px;

  & svg {
    color: var(--lng1771-gray-70);
  }
}

.lng1771-pill-manager__expander {
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  border-inline-start: 1px solid var(--lng1771-gray-40);
}

.lng1771-pill-manager__drag-placeholder {
  position: fixed;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.lng1771-pill-manager__drag-placeholder--default {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--lng1771-gray-05);
  border: 1px solid var(--lng1771-primary-30);
  border-radius: 6px;
  padding-inline: 8px;
  padding-block: 6px;
}

/** INDIVIDUAL PILLS */

.lng1771-pill-manager__pill-outer {
  padding-inline: 4px;
  padding-block: 8px;
  cursor: pointer;
  position: relative;

  &:hover > .lng1771-pill[data-pill-kind="plain"] {
    &[data-pill-interactive] {
      background-color: color-mix(in srgb, var(--lng1771-pill-plain-fill) 95%, white 5%);
      cursor: pointer;
    }
  }

  &:hover > .lng1771-pill[data-pill-kind="row-group"] {
    &[data-pill-interactive] {
      background-color: color-mix(in srgb, var(--lng1771-pill-group-fill) 95%, white 5%);
      cursor: pointer;
    }
  }

  &:hover > .lng1771-pill[data-pill-kind="column-pivot"] {
    &[data-pill-interactive] {
      background-color: color-mix(in srgb, var(--lng1771-pill-pivot-fill) 95%, white 5%);
      cursor: pointer;
    }
  }

  &:hover > .lng1771-pill[data-pill-kind="column"] {
    &[data-pill-interactive] {
      background-color: color-mix(in srgb, var(--lng1771-pill-column-fill) 95%, white 5%);
      cursor: pointer;
    }
  }
}

.lng1771-pill-manager__drop-indicator-end {
  position: absolute;
  top: 0px;
  inset-inline-end: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--lng1771-primary-50);
}
.lng1771-pill-manager__drop-indicator-start {
  position: absolute;
  top: 0px;
  inset-inline-start: 0px;
  width: 1px;
  height: 100%;
  background-color: var(--lng1771-primary-50);
}

.lng1771-pill-manager__pill-inner[data-draggable="true"] {
  padding-inline-end: 6px;
}

.lng1771-pill-manager__pill-inner--secondary-label {
  color: var(--lng1771-primary-50);
  font-size: 13px;
}

.lng1771-pill-manager__pill-dragger {
  cursor: grab;
  padding: 0px;
  border: none;
  background-color: transparent;
  color: var(--lng1771-gray-70);
  display: flex;
  align-items: center;
  justify-content: center;
}
