@layer ln-grid {
  [data-ln-pill-root] {
    display: grid;
    grid-template-columns: auto 1fr auto;
    container-type: inline-size;
  }

  [data-ln-pill-row] {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    box-sizing: border-box;
    border-block-end: 1px solid black;
  }

  [data-ln-pill-label] {
    display: flex;
    align-items: center;
    gap: var(--ln-space-05);
    padding-inline-start: var(--ln-space-30);
    padding-inline-end: var(--ln-space-20);

    font-family: var(--ln-typeface);
    font-weight: 500;
    color: var(--ln-text);
  }

  @container (width < 700px) {
    [data-ln-pill-label-text] {
      display: none;
    }
  }

  [data-ln-pill-container] {
    display: flex;
    flex-direction: column;
    gap: var(--ln-space-05);
    &[data-ln-orientation="horizontal"] {
      align-items: center;
      flex-direction: row;
    }
  }

  [data-ln-pill-item-container] {
    padding-inline: var(--ln-space-05);
    padding-block: calc(var(--ln-space-30) - 2px);

    font-family: var(--ln-typeface);
    font-size: var(--ln-font-sm);
    font-weight: 500;
    color: var(--ln-text);

    &[data-ln-pill-active="false"] {
      opacity: 0.5;

      transition: opacity var(--ln-transition-duration) var(--ln-transition-fn);

      &:hover {
        opacity: 0.75;
      }
    }

    & [data-ln-pill-item] {
      display: flex;
      align-items: center;
      background-color: var(--ln-bg);
      border-radius: var(--ln-radius);
      padding-block: var(--ln-space-05);
      padding-inline: var(--ln-space-10);
      border: 1px solid transparent;
    }

    &[data-ln-draggable="true"] [data-ln-pill-item] {
      padding-inline-start: var(--ln-space-02);
    }

    &[data-ln-pill-type="columns"] [data-ln-pill-item] {
      background-color: var(--ln-column-fill);
      border: 1px solid var(--ln-column-stroke);
    }
    &[data-ln-pill-type="row-pivots"] [data-ln-pill-item] {
      background-color: var(--ln-row-pivot-fill);
      border: 1px solid var(--ln-row-pivot-stroke);
    }
    &[data-ln-pill-type="column-pivots"] [data-ln-pill-item] {
      background-color: var(--ln-column-pivot-fill);
      border: 1px solid var(--ln-column-pivot-stroke);
    }

    &[data-ln-drag-active="true"] [data-ln-pill-item] {
      border: 1px solid var(--ln-primary-50);
    }
  }
}
