.dialog::backdrop {
  background-color: transparent;
}

.dialog {
  opacity: 0;
  transition: opacity 80ms ease-in-out;
}

.dialog[data-dialog-state="open-begin"] {
  opacity: 0;
}

.dialog[data-dialog-state="opening"],
.dialog[data-dialog-state="open"] {
  opacity: 1;
}
