.cell-styles {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;

  [data-ln-cell="true"] {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    background-color: light-dark(white, hsla(190, 32%, 6%, 1));
    color: light-dark(hsla(175, 6%, 38%, 1), hsla(175, 10%, 86%, 1));
    font-size: 14px;
    border-bottom: 1px solid light-dark(hsla(175, 20%, 95%, 1), hsla(177, 19%, 17%, 1));

    &[data-ln-type="number"] {
      justify-content: end;
    }
  }

  [data-ln-alternate="true"] [data-ln-cell="true"] {
    background-color: light-dark(hsl(0, 27%, 98%), hsl(184, 33%, 8%));
  }

  [data-ln-header-cell="true"] {
    display: flex;
    align-items: center;
    padding-inline: 8px;
    background-color: light-dark(hsla(175, 12%, 92%, 1), hsla(177, 19%, 17%, 1));
    color: light-dark(hsla(177, 19%, 17%, 1), hsla(175, 12%, 92%, 1));
    text-transform: capitalize;
    font-size: 14px;

    &[data-ln-type="number"] {
      justify-content: end;
    }
  }

  [data-ln-cell-selection-rect]:not([data-ln-cell-selection-is-unit="true"]) {
    background-color: rgba(0, 0, 255, 0.08);
    box-sizing: border-box;

    &[data-ln-cell-selection-border-top="true"] {
      border-top: 1px solid rgba(0, 0, 255, 1);
    }
    &[data-ln-cell-selection-border-bottom="true"] {
      border-bottom: 1px solid rgba(0, 0, 255, 1);
    }
    &[data-ln-cell-selection-border-start="true"] {
      border-inline-start: 1px solid rgba(0, 0, 255, 1);
    }
    &[data-ln-cell-selection-border-end="true"] {
      border-inline-end: 1px solid rgba(0, 0, 255, 1);
    }
  }
  [data-ln-cell-selection-rect][data-ln-cell-selection-is-unit="true"] {
    outline: 1px solid rgba(0, 0, 255, 1);
    outline-offset: -1px;
  }
}
