.lng1771-row-container {
  background-color: var(--lng1771-gray-00);
  display: flex;
  flex-direction: column;

  & > div {
    display: grid;
    grid-template-rows: 0px;
    grid-template-columns: 0px;
  }
}
